@charset "utf-8";
/* CSS Document */

@font-face {
   font-family: 'Lovelo';
   src: url('../fonts/Lovelo_Black.eot');
   src: url('../fonts/Lovelo_Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lovelo_Black.woff') format('woff'),
    url('../fonts/Lovelo_Black.ttf') format('truetype'),
    url('../fonts/Lovelo_Black.svg#futuramtvbold_italic') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
}
body{padding:0px; margin:0px;}
.black{ color:#272c2d;}
.red{ color:#e66a5d}
.main{width:100%;height:auto;	}
.header{height:75px; background-color:#FFFFFF; padding-top:33px;}
.heading{font-family: 'Lovelo'; font-size:40px;color:#272c2d; margin-left:15px; float:left;}
.menu{display: inline-flex;    float: right;}
.menupart{width:auto; display:inline-flex;}
.menuname{font-family:'Open Sans Bold'; font-size:15px;padding-top: 10px; margin-right:10px; color: #272c2d; margin-left:10px;}
.moreitem{background:url(../images/Drop-arrow.png) no-repeat; height:10px; width:15px; margin-top:20px; margin-right:10px;}
.line{ font-size:35px;}
.user{ float:right; display:inline-flex; margin-left:20px; margin-right:40px;}
.userphoto{ border-radius: 25px;
    height: 50px;
    margin-right: 5px;
    overflow: hidden;
    width: 50px;}
.username{ font-family:'Open Sans Bold'; font-size:15px; margin-top:15px;}
.graph{ background:url(../images/Graph-patch.jpg) no-repeat; height:500px; width:100%; background-size:100% 500px;}
.graphlower{ width:100%; background-color:#f5f5f5; height:auto;}
.subsection{ padding-top:40px; margin-left:35px; margin-right:35px; height:auto;}
.desc{font-family:'Open Sans Bold'; border-bottom:2px solid #333;}
.desccont{height:200px;}
.list{float:left; margin-left:50px;}
.mainname{ font-size:35px;}
.curr{ font-size:20px; font-family:'Open Sans'; line-height:35px;}
.reminder{ float:right; margin-right:50px;}
.newship{ height:60px; background-color:#e66a5d; padding-left:50px; font-family:'Open Sans Bold'; color:#FFFFFF; font-size:30px; padding-top:15px; border-radius:10px;}
.option{ font-family:'Open Sans'; display:inline-flex; font-size:25px; padding-left:50px; margin-bottom:15px;}
.close,.quotes { font-family:'Open Sans Bold';margin-top: 20px;
    position: absolute;
    right: 50px;}
.mini{ margin-left:25px; margin-top:20px; margin-right:25px;}
.quotes{font-family:'Open Sans Bold';}
.bikedetails{height: auto;
    margin-left: 35px; display:inline-flex;
    margin-right: 35px;
    padding-top: 40px; border-bottom:2px solid #333;}
.bikeimg{ padding-left:50px;}
.transinfo{ padding-left: 50px; width:500px;}
.bikeinfo{ display:inline-flex; width:inherit; height:40px;}
.optionname{ font-family:'Open Sans Bold'; font-size:25px; width:35%;}
.value{ font-family:'Open Sans'; font-size:22px; width:50%;}
.relist{ text-align:center; border:1px solid #666; width:400px; height:40px; margin-bottom:25px; padding-top:10px; font-family:'Open Sans Bold'; 
font-size:20px; border-radius:5px;}
.expiredinfo{ border-bottom: 2px solid #333;
    
    height: auto;
    margin-left: 35px;
    margin-right: 60px;
    padding-top: 40px; padding-bottom:30px;}
.contain{display: inline-flex; height:230px; width:100%; border:1px solid #a7aaac; background-color:#a7aaac; border-radius:5px;}	
.quote{font-family:'Open Sans Bold'; font-size:30px; width:225px; text-align:center; margin-top:70px; color:#FFFFFF;}
.remain{background: #ffffff none repeat scroll 0 0;
    margin-top: 20px;
    width: 80%; margin-bottom:20px; display:inline-flex; border-radius:5px;}
.summatinfo{ padding-bottom: 10px;
    padding-left: 30px;}
.sumant{font-family:'Open Sans Bold'; font-size:25px; margin-top: 15px;}
.bid{font-family:'Open Sans Bold'; font-size:25px; margin-top: 10px;}
.biddeatails{font-family:'Open Sans Bold'; font-size:25px; margin-top: 20px; border:1px solid #999; width:310px; height:50px; padding-left:30px; padding-top:5px;
 box-sizing:border-box; background-color:#f5f5f5; }
.bidexp{font-family:'Open Sans Bold'; font-size:25px; padding-left:40px; margin-top:75px;}
.expired{font-family:'Open Sans Bold'; font-size:22px; padding-left:100px; margin-top:10px;}
.extra{ height:100px;} 