.commodity-selection-slogan {
  font-family: "AlternateGothic", "SourceSans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 37px;
  line-height: 37px;
  margin: 20px 0 10px;
  text-transform: uppercase; }

.commodity-selection-slogan {
  margin-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 0;
  font-size: 42px;
  font-weight: bold;
  color: #111111;
  background-color: #FFF; }

.commodity-selection-form .foundation-web h1, .commodity-selection-form .foundation-web h2,
.commodity-selection-form .foundation-web h3, .commodity-selection-form .foundation-web h4,
.commodity-selection-form .foundation-web h5, .commodity-selection-form .foundation-web h6,
.commodity-selection-form .foundation-web a,
.commodity-selection-form .foundation-web .checkbox-list.basic-inline label, .checkbox-list.basic-block label,
body .foundation-web, .foundation-web select {
  font-family: "SourceSans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  padding: 5px;
  font-size: 16px; }

@media only screen and (min-width: 768px) {
  .commodity-selection-content {
    padding: 0 10px; }
  .commodity-selection-form {
	  height:200px;
    max-width: 800px;
    background: #EEEEEE; } 
	.yourstory{
		width:200px;
		margin-top:30px;
		margin-left:20px;
		height:30px !important;
		padding-left:10px !important;
		color:#111111 !important;
	}
	#savedata{
		padding:30px;
	}
	#imgsection{
		display:inline-flex;
		width:100%;
	}
	#imgbut{
		width:100px;
		height:30px;
		padding-left:10px;
	}
	.submit{
		align:center;
		width:120px;
		height:30px;
	}
	}
	.img{
		padding-left:10px !important;
		height:30px !important;
	}
	}
	}
	}

@media only screen and (max-width: 767px) {
  .commodity-selection-form {
    max-width: 760px; }
  .commodity-selection-slogan {
    margin: 20px 24px 10px; }
  .commodity-selection-form .steponeform {
    border: none;
    background: #EEEEEE;
    margin: 10px;
    border: 1px solid #E5E5E5;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25); }
  .foundation-web.main-select .get-quotes .button.large {
    width: 100%; }
  .foundation-web.main-select hr {
    margin-left: 0;
    margin-right: 0; }
  #partnerCoBrandBanner {
    display: none; } }
