@charset "utf-8";
.flexslider{
		margin:0px auto;
		border:none;
		background:transparent;
		
		box-shadow:none;
	}
	.flex-direction-nav a {
		top:40%;
		opacity:1;
	}
	.flexslider .flex-viewport ul li img{max-width:408px;max-height:230px;}
	
	.flex-direction-nav a.flex-next::before 
	{
		content:'';
	}
	.flex-direction-nav a::before 
	{
		content:'';
	}
	flex-viewport {
    transition: all 1s ease 0s;
    max-height: 525px !important;
    }
	.flex-direction-nav a{top:50%;}
	.flex-direction-nav .flex-next {
    background: url(../images/Right-Arrow.png) no-repeat;
    color: transparent;
    height: 16px;
    right: 20px !important;
    width: 16px;
	}
	.flex-direction-nav .flex-prev {
    background: url(../images/Left-Arrow.png) no-repeat;
    color: transparent;
    height: 16px;
    left: 0px;
    width: 16px;
	}
