@font-face {
   font-family: 'Lovelo';
   src: url('../fonts/Lovelo_Black.eot');
   src: url('../fonts/Lovelo_Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lovelo_Black.woff') format('woff'),
    url('../fonts/Lovelo_Black.ttf') format('truetype'),
    url('../fonts/Lovelo_Black.svg#futuramtvbold_italic') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
}
body{padding:0px; margin:0px;}
.black{ color:#272c2d;}
.red{ color:#e66a5d}
.main{width:100%;height:auto;	}
.header{height:65px; background-color:#FFFFFF; padding-top:20px;}
.heading{font-family: 'Lovelo'; font-size:40px;color:#272c2d; margin-left:50px; float:left;}
.container{background-color: #f5f5f5;
    height: auto;
    width: 100%;}
.user{ float:right; display:inline-flex; margin-left:20px; margin-right:40px;}
.userphoto{ border-radius: 25px;
    height: 50px;
    margin-right: 5px;
    overflow: hidden;
    width: 50px;}
.username{ font-family:'Open Sans Bold';
    font-size: 18px;
    margin-left: 10px;
    margin-top: 15px;}	
.dropdown{
	background-image:url(../images/Drop-arrow.png);
	background-repeat: no-repeat;
	height: 10px;
    margin-left: 10px;
    margin-top: 25px;
    width: 20px;
	cursor:pointer;
}
.logoutsection{
	background-color: #e66a5d;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 70px;
    width: 100px;
}
.logout{
	color: #ffffff;
    font-family: "Open Sans Bold";
    font-size: 18px;
    text-align: center;
	margin-top:5px;
	cursor:pointer;
}
.expiredinfo{     
    height: auto;
	width:100%;
    margin-right: 60px;
    padding-top: 20px; padding-bottom:30px;}
.contain{display: inline-flex; height:230px; width:100%; border:1px solid #a7aaac; background-color:#a7aaac; border-radius:5px;}	
.quote{font-family:'Open Sans Bold'; font-size:30px; width:225px; text-align:center; margin-top:70px; color:#FFFFFF;}
.remain{background: #ffffff none repeat scroll 0 0;
    margin-top: 20px;
    width: 80%; margin-bottom:20px; display:inline-flex; border-radius:5px;}
.quotesection{
	background: #ffffff none repeat scroll 0 0;
    margin-top: 20px;
    width: 80%; margin-bottom:20px; border-radius:5px;
}
.quoteremain{
	display:inline-flex;
	margin-left:20px;
}
.summatinfo{ padding-bottom: 10px;
    padding-left: 30px; margin-top:25px;}
.sumant{font-family:'Open Sans Bold'; font-size:25px; margin-top: 15px; text-align: center;}
.bid{font-family:'Open Sans Bold'; font-size:25px; margin-top: 10px;}
.biddeatails{font-family:'Open Sans Bold'; font-size:25px; margin-top: 20px; border:1px solid #999; width:310px; height:50px; padding-left:30px; padding-top:5px;
 box-sizing:border-box; background-color:#f5f5f5; }
.bidexp{font-family:'Open Sans Bold'; font-size:25px; padding-left:40px; margin-top:80px;}
.expired{font-family:'Open Sans Bold'; font-size:22px; padding-left:100px; margin-top:80px;}	
.transportcontent {
    border: 1px solid;
    
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
	
}
.transporttitle {
    font-family: "Open Sans Bold";
    font-size: 15px;
}
.trasnpdetails {
    display: inline-flex;
    font-family: "Open Sans";
    font-size: 15px;
    margin-top: 10px;
}
.align {
    text-align: center;
}
.shipment {
    display: inline-flex;
    width: 250px;
}
.price {
    text-align: center;
    width: 150px;
}
.collection {
    width: 200px;
	text-align: center;
}
.delivery {
    width: 200px;
	text-align: center;
}
.jobdetails,.quotejobdetails,.menubar{
	margin:auto;
	width:1280px;
	padding-top:10px;
}
.kilo {
    width: 200px;
	text-align: center;
}
.ending {
    width: 200px;
	text-align: center;
}
.trmenubar {
    display: inline-flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
.menu {
    font-family: "Open Sans Bold";
    font-size: 19px;
    margin-left: 10px;
}
.transdesc{
	margin-left:10px;
}
.button{
	margin:auto;
	width:150px;
	text-align:center;
	margin-top:15px;
}
.quotebut{
	font-family: "Open Sans Bold";
    font-size: 20px;
    height: 40px;
    padding-top: 10px;
	color:#ffffff;
	background:#e66a5d;
	cursor:pointer;
}
.yourquote{
	margin:auto;
	width:1280px;
}
.inputquote{
	height: 25px;
    margin-top: 20px;
    width: 250px;
}
.quoteparam{
	padding-bottom: 10px;
    padding-left: 50px;
}
