@font-face {
   font-family: 'Lovelo';
   src: url('../fonts/Lovelo_Black.eot');
   src: url('../fonts/Lovelo_Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lovelo_Black.woff') format('woff'),
    url('../fonts/Lovelo_Black.ttf') format('truetype'),
    url('../fonts/Lovelo_Black.svg#futuramtvbold_italic') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
}
body{padding:0px; margin:0px;}
.black{ color:#272c2d;}
.red{ color:#e66a5d}
.maincontainer{
	width:1000px;
	margin:auto;
	position:relative;
}
.mainsection{
	height:auto;
	width:100%;
	text-align:left;
}
.heading{}
.typesection{ display: inline-flex;}
.itemdetails{ width: 300px; margin-right: 20px;}
.head{}
.materialtype{}
.vehicle{ width: 300px; margin-right: 20px;}
.vehicletype{}
.materialsection{ height:auto;}
.insertion{}
.sizedetails{
	display:inline-flex;
}
.measure{
	display:inline-flex;
}
.lenght , .width,.height{
	wudth:100px;
	margin-right:5px;
}
.mainsection{
	box-sizing:border-box;
	border:1px solid #455463;
	background-color: #667584;
	border-radius:10px;
	padding:20px;
}
.materialsection,.productdetails,.sizedetails,.locationdetails,.otherdetails{
	margin-bottom:10px;
	box-sizing:border-box;
	border:1px solid #455463;
	background-color:#f5f5f5 !important;
	width:100%;
	border-radius:10px;
	padding:10px;	
	}
.button{
	background-color: #455463;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 40px;
    position: absolute;
    right: 0;
    width: 100px;
	height:40px;
}
.submit{
	height:100%;
	width:100%;
}