@charset "utf-8";
/* CSS Document */

@font-face {
   font-family: 'Lovelo';
   src: url('../fonts/Lovelo_Black.eot');
   src: url('../fonts/Lovelo_Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lovelo_Black.woff') format('woff'),
    url('../fonts/Lovelo_Black.ttf') format('truetype'),
    url('../fonts/Lovelo_Black.svg#futuramtvbold_italic') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
}
body{padding:0px; margin:0px;}
.black{ color:#272c2d;}
.red{ color:#e66a5d}
.main{width:100%;height:auto;	}
.header{height:65px; background-color:#FFFFFF; padding-top:20px;}
.maindiv{margin:auto; background:#f5f5f5;}
.heading{font-family: 'Lovelo'; font-size:35px;color:#272c2d; margin-left:50px; float:left;}
.help{font-family: 'Lovelo'; font-size:20px;color:#272c2d !important; text-decoration:none; float:right; margin-right:50px; margin-top:20px;}
.container{ height:auto; padding-top:15px;}
.alldata{ display:inline-flex; width:100%;}
.searchpanel{ width:20%; margin-left:20px;}
.transportdetails{ padding-left: 15px;
    padding-right: 20px;
	width:80%; box-sizing: border-box;
    }
.refine, .resultpanel{ background-color: #e66a5d;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Open Sans Bold";
    font-size: 22px;
    height: 50px;
    padding-top: 7px;
    text-align: center;}
.searchitem{ margin-top:20px; font-family: "Open Sans Bold"; font-size: 22px; padding-left:20px;}	
.result{ display:inline-flex;}
.searchpage{ display: inline-flex; float: left;}
.resultpanel{ 
    padding-left: 20px;
    text-align: left;
    width: 100%;}
.searchbox{ float:right;display: inline-flex;}
.sortby{ margin-right: 20px;}
.selectsort{background: #ffffff none repeat scroll 0 0;
    color: black;
    font-size: 15px;
    margin-right: 20px;
	height:100%;
    width: 200px;}
.trmenubar{display: inline-flex;
    margin-top: 20px; margin-bottom: 20px; width:100%;}
.menu{font-family: "Open Sans Bold"; font-size: 19px; margin-left:10px;}
.shipment{ width:15%; display:inline-flex;}
.price{ width:15%;}
.collection{ width:15%;}
.delivery{ width:15%;}
.kilo{ width:15%;}
.ending{ width:15%;}	
.transportcontent{border-bottom: 1px solid;
    border-left: 2px solid;
    border-top: 1px solid;
    padding-left: 15px;
    padding-top: 10px; padding-bottom:10px;}
.transporttitle{font-family: "Open Sans Bold";
    font-size: 15px;}
.trasnpdetails{font-family: "Open Sans";
    font-size: 15px; display:inline-flex; margin-top: 10px; width:100%;}
.transimg{}
.transdesc{margin-left: 10px;}
.align{ text-align:center; margin-left:10px;}
.iconopen{ background-image: url("../images/list_add.png");
    background-size: 100% auto;
    float: right;
    height: 20px;
    margin-right: 20px;
    margin-top: 5px;
    width: 20px;}
.iconclosed{ background-image: url("../images/Minus.png");
   }
#subcatmenus{ font-size: 15px; margin-left: 5px;}
.subcatmain{ margin-bottom:10px;}
.from,.to{ margin-bottom:10px;}
.fromplace,.toplace{ width:175px !important;}
.ok{ background-color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    margin-top: 10px;
    padding-left: 5px;
    width: 75px;}
	
.pricesection{ margin-top:10px;}
.pagination{ margin-top:20px;
    font-family: "Open Sans Bold";
    font-size: 16px;}
.perpage{ display:inline-flex; margin-top:10px; }	
.shipmentm{ width:15%;}
.pricem{ width:15%;}
.collectionm{ width:15%;}
.deliverym{ width:15%;}
.kilom{ width:15%;}
.endingm{ width:15%;}