@charset "utf-8";
/* CSS Document */

@font-face {
   font-family: 'Lovelo';
   src: url('../fonts/Lovelo_Black.eot');
   src: url('../fonts/Lovelo_Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lovelo_Black.woff') format('woff'),
    url('../fonts/Lovelo_Black.ttf') format('truetype'),
    url('../fonts/Lovelo_Black.svg#futuramtvbold_italic') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
}
body{padding:0px; margin:0px;}
.black{ color:#272c2d;}
.red{ color:#e66a5d}
.main{width:100%;height:auto;	}
.header{height:75px; background-color:#FFFFFF; padding-top:33px;}
.heading{font-family: 'Lovelo'; font-size:40px;color:#272c2d; margin-left:15px; float:left; cursor:pointer;}
.menu{display: inline-flex;    float: right;}
.menupart{width:auto; display:inline-flex;}
.menuname{font-family:'Open Sans Bold'; font-size:15px;padding-top: 10px; margin-right:10px; color: #272c2d; margin-left:10px;}
.moreitem{background:url(../images/Drop-arrow.png) no-repeat; height:10px; width:15px; margin-top:20px; margin-right:10px;}
.line{ font-size:35px;}
.user{ float:right; display:inline-flex; margin-left:20px; margin-right:40px;}
.userphoto{ border-radius: 25px;
    height: 50px;
    margin-right: 5px;
    overflow: hidden;
    width: 50px;}
.username{ font-family:'Open Sans Bold';
    font-size: 18px;
    margin-left: 10px;
    margin-top: 15px;}	
.dropdown{
	background-image:url(../images/Drop-arrow.png);
	background-repeat: no-repeat;
	height: 10px;
    margin-left: 10px;
    margin-top: 25px;
    width: 20px;
	cursor:pointer;
}
.logoutsection{
	background-color: #e66a5d;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 70px;
    width: 100px;
}
.logout{
	color: #ffffff;
    font-family: "Open Sans Bold";
    font-size: 18px;
    text-align: center;
	margin-top:5px;
	cursor:pointer;
}
.graph{ background:url(../images/Graph-patch.jpg) no-repeat; height:500px; width:100%; background-size:100% 500px;}
.jobcontainer{
	width:100%;
	background-color:#f5f5f5;
}
.footer{
	height:200px;
	background-color:#f5f5f5;
}
.transportcontent{
	border:1px solid #333;
	padding-left:10px;
	margin-bottom: 20px;
}
.minjob{
	margin:auto;
	width:1000px;
	padding-top: 30px;
	padding-bottom: 20px;
}
.quotejobdetails{
	}
.trmenubar{display: inline-flex;
    margin-top: 20px; margin-bottom: 20px; width:100%;}
.menut{font-family: "Open Sans Bold"; font-size: 19px; margin-left: 30px; }
.transporttitle{font-family: "Open Sans Bold";
    font-size: 15px; margin-top:10px;}
.shipment{ width:200px; display:inline-flex;}
.price{ width:125px;}
.collection{ width:175px;}
.delivery{ width:175px;}
.kilo{ width:175px;}
.ending{width:175px;}	
.trasnpdetails{font-family: "Open Sans";
    font-size: 15px; display:inline-flex; margin-top: 10px; margin-bottom: 10px;}
.align{
	text-align:center;
}
.transdesc{
	margin-left:10px;
}
.quoteprice{
}