.full-release{position:relative;overflow:hidden;}.back-to-top{margin:0;position:fixed;bottom:20px;right:50px;z-index:100;display:none;}.upc .g8.article{float:none;margin:0 auto;}.upc-ru{padding:15px;}.upc-ru:first-child{border-right:#e6e6e6 1px solid;}
