



<!DOCTYPE html>
<html id="html" class="webkit responsive-page">
<head id="Head1"><script id="slheadjs" type="text/javascript"  err="true">if (typeof (__$1D0C) == "undefined") { __$1D0C = { head: new Date(), stack: [] }};</script><script>
if (typeof(__$1D3F) == "undefined") {__$1D3F = { deferred: [], deferScript: function(id,d,s) { __$1D3F.deferred.push( [id,d,s] ); }}}</script><meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <meta id="IosAppSmartBanner" name="apple-itunes-app" content="app-id=457045275">
    <meta name="google-play-app" content="app-id=com.unwirednation.notifications.android.ushipnew">

    <style type="text/css">
        .socialmedia-popup-home-overlay {
	            display: none;
	            position: absolute;
	            top: 0px;
	            left: 0px;
	            opacity: .7;
	            filter: alpha(opacity=70);
	            z-index: 1000;
	            background-color: #000;
        }

        .socialmedia-popup-home-lightbox {
	            display: none;
	            position: absolute;
	            z-index: 1000;
	            padding: 10px;
	            width: 480px;
        }
    </style>
    
    
    
    <script type="text/javascript">document.documentElement.className += ' js';</script>
     
    <title>
		New Shipment
	</title>
    
    <!--[if lte IE 9]>
        <link type="text/css" rel="stylesheet" media="all" href="http://s.ushipcdn.com/public/css/lib/foundation/foundation.ie8grid.css?1" /><link type="text/css" rel="stylesheet" media="all" href="/public/css/lib/foundation/shame.css" />
        <script type="text/javascript" src="http://s.ushipcdn.com/public/js/lib/polyfills/ecma5.js"></script>
    <![endif]-->

	<meta id="metaControlDescription" name="description" content=""></meta>
    <meta id="metaControlKeywords" name="keywords" content=""></meta>
    <meta http-equiv="Content-Language" content="en-IN"></meta>
    <meta name="country" content="India"></meta>
    <link href="http://s.ushipcdn.com/awsm.axd/core2.css/9-968630019/" media="all" rel="stylesheet" type="text/css" />
<link href="http://s.ushipcdn.com/awsm.axd/helpers.css/9-968630019/" media="all" rel="stylesheet" type="text/css" />
<link href="http://s.ushipcdn.com/awsm.axd/all.css/9-968630019/" media="all" rel="stylesheet" type="text/css" />
<link href="http://s.ushipcdn.com/awsm.axd/more.css/9-968630019/" media="all" rel="stylesheet" type="text/css" />
<link href="http://s.ushipcdn.com/sticky/public/css/template.css?9:968630019" media="all" rel="stylesheet" type="text/css" />
<link href="http://s.ushipcdn.com/sticky/public/css/components/footer.css?9:968630019" media="all" rel="stylesheet" type="text/css" />
<script src="http://s.ushipcdn.com/awsm.axd/core.js/9-968630024/" type="text/javascript"></script>
<script src="http://s.ushipcdn.com/sticky/public/js/responsiveElements.js?9:968630024" type="text/javascript"></script>

<script type="text/javascript">
uship.prefs = {};
uship.prefs.i18n = {"thousands":",","decimal":".","currency":"₹","date":"-","inmiles":false,"localcountryid":94,"dateformat":"dd/mm/yyyy","tzabbrlabel":"IST","tzlabel":"India Standard Time","TZCurrentTime":"12:20 PM","TZCurrentDate":"12/8/2015","pageculture":"en-IN","langculture":"en-IN","siteid":6,"siteuserid":6,"month_names":["January","February","March","April","May","June","July","August","September","October","November","December",""],"month_names_short":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec",""],"day_names":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"day_names_short":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]};
uship.prefs.date = {
    // this always needs to be in same format mm/dd/yyy
    // but needs to be in the correct user specified timezone
    now : (function(now) { return new Date(+now[2], +now[0]-1, now[1]); })(uship.prefs.i18n.TZCurrentDate.split('/')),
    short_date_parts : ['mm','dd','yyyy']
};
uship.js.date = uship.js.date || {}
uship.prefs.date.short_date_format = uship.prefs.date.short_date_parts.join(uship.prefs.i18n.date);
if(uship.js.date.format) {
    uship.js.date.format.masks.localDate = uship.prefs.date.short_date_format;    
}
uship.env = {"page_id":613,"hit_id":"bf46ed52-d8ea-4d6f-a51c-06e1a209b9ba"};
</script>
<script src="http://s.ushipcdn.com/jstLocStringsHandler.axd?bn=MainJavaScript&hl=en-IN&v=fb59e4515f964a0f1caa951c4ea0310c.js" type="text/javascript"></script><link href="http://s.ushipcdn.com/sticky/public/css/helpers/responsive-core.css?9:968630019" rel="stylesheet" type="text/css" />
<link href="//t.ushipcdn.com/css/lib/foundation/foundation-web.css?t=5.635785303050000000" rel="stylesheet" type="text/css" />
<link href="//t.ushipcdn.com/css/web/components/stepone/freightitems2.css?t=5.635762895220000000" rel="stylesheet" type="text/css" />
<link href="//t.ushipcdn.com/css/icon-style.css?t=5.635822759880000000" rel="stylesheet" type="text/css" />
<link href="http://s.ushipcdn.com/sticky/public/css/components/pickadate.DefaultAndClassic.css?9:968630019" rel="stylesheet" type="text/css" />
<link href="http://s.ushipcdn.com/sticky/public/css/components/pickadate.css?9:968630019" rel="stylesheet" type="text/css" />
<link href="http://s.ushipcdn.com/sticky/public/css/components/modalpanel.css?9:968630019" rel="stylesheet" type="text/css" />
<link href="//t.ushipcdn.com/css/web/components/stepone/stepone.css?t=5.635762895220000000" rel="stylesheet" type="text/css" />
<link href="//t.ushipcdn.com/css/web/components/stepone/stepone-alt.css?t=5.635762895220000000" rel="stylesheet" type="text/css" />
<link href="//t.ushipcdn.com/css/web/components/stepone/stepone-main.css?t=5.635804244940000000" rel="stylesheet" type="text/css" />
<!--link href="//t.ushipcdn.com/css/web/stepOneAutoComplete.css?t=5.635762895160000000" rel="stylesheet" type="text/css" /-->
<link href="//t.ushipcdn.com/css/web/components/browser-warning.css?t=5.635838711960000000" rel="stylesheet" type="text/css" />
<link href="//t.ushipcdn.com/css/web/components/sitebanners/sitebanners.css?t=5.635762895220000000" rel="stylesheet" type="text/css" />
<link href="//t.ushipcdn.com/css/smart-app-banner/jquery.smartbanner.css?t=5.635762895150000000" rel="stylesheet" type="text/css" />
<link href="//t.ushipcdn.com/css/web/pages/commodity_selection.css?t=5.635762895170000000" rel="stylesheet" type="text/css" />
<link href="//t.ushipcdn.com/css/home/home.css?t=5.635762895110000000" rel="stylesheet" type="text/css" />
<script src="//t.ushipcdn.com/js/web/analytics/heap_analytics.js?t=5.635762895220000000" type="text/javascript"></script>
    
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function ()
            { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }
            ; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
        document, 'script', '//connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1628061650761767');
        fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1628061650761767&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body id="body" class="footer-simple-enabled locale-en-IN"> 
    <form name="form1" method="post" action="commodity_selection.aspx" id="form1" class="custom">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="0000ENOZB9ILX_00002586" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="D3178495" />
<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="HsPTyRySgJkDL//emNQ0Ggk4eKio+lCmsIOyEpFFfYIxA7o6Bh7+IAichR+7pYgUXOcmLswN2eBbu11rAEYNLemXnZmGh+qfe2UDk3uY0bvjV3Hc" />
        
		
    
    
        <a id="top"></a>
        
        
    	
    	

        


	<!--[if lte IE 9]>
    <div class="browserWarning" id="browser-warning">
        <a class="browserWarning-dismiss u-icon-close" id="dismiss-browser-warning"></a>
        <p>You are using an unsupported browser. If you would like to improve your experience on our site, please upgrade your browser.</p>
        <p>For a better experience, try one of these browsers:</p>
        <p class="browserWarning-suggestions">
            <a class="browserWarning-suggestion" href="https://www.google.com/chrome/browser/desktop/" target="_blank">Chrome</a>
            <a class="browserWarning-suggestion" href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>
            <a class="browserWarning-suggestion" href="https://support.apple.com/downloads/#safari" target="_blank">Safari</a>
            <a class="browserWarning-suggestion" href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a>
        </p>
    </div>

    <script>
        if (window.addEventListener) {
            window.addEventListener('load', initializeBrowserWarning, false);
        } else if (window.attachEvent) {
            window.attachEvent('onload', initializeBrowserWarning);
        }

        function initializeBrowserWarning() {
            if (!jQuery) return;
            var $ = jQuery;
            $('#dismiss-browser-warning').on('click', function () {
                $('#browser-warning').hide();
                var now = new Date();
                var expires = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 7);
                document.cookie = 'dismissBrowserWarning=true; expires=' + expires.toUTCString();
            });
        }
    </script>
<![endif]-->



        <div id="page">
            <div class="main">

                

                
                <div id="freightBanners" class="innerfade">
                    
                    
                </div>

                <div id="promobanners">

                    
                    

                    
                    

                    

                    

                    

                    

                    

                </div>

                
                
                
                

<script type="text/javascript" language="javascript" >
    function resendEmailVerification() {
        //Hiding the buttons
        var spResend = jQuery('#spResend');
        var imgSpinner = jQuery('#imgSpinner');
        spResend.hide();
        imgSpinner.show();

        //The AjaxPro server side method is in profile_email.aspx.vb.
        var resend = uship.ns.ajaxpro.register('profile_email', 'ResendInvitation', []);
        resend(resendEmailVerificationCallback);
    }

    function resendEmailVerificationCallback(response) {
        var json = response.value;
        var imgSpinner = jQuery("#imgSpinner");
        imgSpinner.hide();

        var spEmailConfirmation = jQuery('#spEmailConfirmation');
        spEmailConfirmation.text(json.message);

        //This is a hack for IE.  
        //For some reason when hiding the spinner it leaves 
        //an empty area where the spinner was, over the confirmation text.  If you move your mouse,
        //the text will eventually show up.
        //I just call show on the confirmation message after a little bit of time.
        setTimeout(function () {spEmailConfirmation.show(); }, 100);
    }
</script>
                
                
                
                
			    <div id="hd">
                    <div id="mastHeader_divInner" class="hd-inner clearfix" style="background:none !important; padding:20px; font-size:24px; color:#333333; font-weight:bold; font-family:'Times New Roman', Times, serif">
    				<a href="index.php">	Transporto</a>
        				
                    <div class="hd-navigation-menus-outer" id="hd_navmenus_outer">
                    <ul class="hd-navigation-actions hd-navigation-section">
                    <li id="mastHeader_liNavigationSupport" class="hd-navigation-li">
                        <a class="hd-navigation-item hd-navigation-item-w-icon hd-navigation-hover hd-navigation-support" href="FAQ.html">
                            Help   
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
         </div>
                
			    <div id="bd" class="clearfix">
				    
				    <!-- partner banner  -->
				
    <div class="commodity-selection-content">
        <div class="commodity-selection-slogan">
            What do you need delivered?
        </div>
        <div class="commodity-selection-form">
            
<input type="hidden" name="_ctl0:ContentBody:_ctl3:deliveryValAttempt" id="ContentBody__ctl3_deliveryValAttempt" value="0" />
<input type="hidden" name="_ctl0:ContentBody:_ctl3:modelElement" id="ContentBody__ctl3_modelElement" />

<div class="foundation-web" id="divStepOneForm" style="display: none" data-bind="css: steponecss, validationOptions: { messageTemplate: 'customMessageTemplate' }">
    <div data-bind="visible: isCommoditySelectorVisible" class="stepone-category-select">
        <div class="row">
            <div class="small-12 large-12 columns">
                <select data-selenium="parentCategory" name="commodity-select" id="commodity-select" 
                        data-bind="options: commodities, 
                        value:commodityId, 
                        optionsCaption: uship.localization['SelectCategory'], 
                        optionsValue: 'value',
                        optionsText: 'label'">
                </select>
               
                <small class="error category" style="display: none;" data-bind="visible: commodityId.isModified() && !commodityId.isValid()">
                    <span class="icon-warning"></span>&nbsp;<span data-bind="html:commodityId.error"></span>
                </small>
            </div>
        </div>
        <div class="row" data-bind="visible: subCommodities().length > 0">
            <div class="small-12 large-12 columns">
                <select id="subcommodity-select" data-selenium="subCategory" name="subcommodity-select" 
                    data-bind="slideSize: 'tiny', 
                    options: subCommodities, 
                    value: subCommodityId, 
                    optionsCaption: uship.localization['MainJSSelectSubCat'],
                    optionsValue: 'value',
                    optionsText: 'label',
                    seleniumTag: 'subCategory',
                    name: 'subcommodity-select'">
                </select>
                
                <small class="error category" style="display: none" data-bind="visible: subCommodityId.isModified() && !subCommodityId.isValid()">
                    <span class="icon-warning"></span>&nbsp;<span data-bind="text:subCommodityId.error"></span>
                </small>
            </div>
        </div>
    </div>
    <div data-bind="css: { 'stepone-user-form': !isCommoditySelectorVisible }">
        <div data-bind="visible: templateVisible, duration: 300">
            <div id="currentTemplate" data-bind="slideTemplate: currentTemplate(), slideSize: 'xlarge', transitionClasses: { base: 'transition-slide-template--base' }"></div>
        </div>
        <hr class="divider no-modal"/>
        <div class="row get-quotes">
            <div class="columns" data-bind="css:'large-12'">
                <button class="button large" tabindex="3" disabled  id="btnGetQuotes1">Continue</button>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="stepone-ltl-template">
    <div class="stepone-ltl">
        <div data-bind="template: { name: 'freight-items-template', data: freightItems}"></div> 
        <div class="stepone-locations">
            <div class="row">
                <div class="large-6 medium-6 columns stepone-location" id="ltl-pickup-location">
                    <h6 data-bind="loc: 'JsPickup'">
                    </h6>
                    <div id="location-type-modal" class="location-type-modal zero-opacity display-none">
                        <div class="modal-content">
                            <h6 data-bind="loc: 'pickupHeaderCallout'"></h6>
                            <p data-bind="loc: 'IncorrectLocationFee'"></p>
                            <p data-bind="loc: 'helpCalloutResidence'"></p>
                            <p data-bind="loc: 'helpCalloutCommercialBuilding'"></p>
                            <p data-bind="loc: 'helpCalloutLimited'"></p>
                            <p data-bind="loc: 'calluShipSupport', visible:isUS"></p>
                        </div>
                    </div>
                    <!-- ko template: { name: 'freight-location-template', data: location.pickup } --><!-- /ko -->
                    <div class="row collapse">
                        <div class="small-10 large-10 medium-10 columns pickadate__holder--noToday pickadate__holder--noClear">
                            <input type="text"  style="border-radius: 10px 0 0 10px;"  tabindex="3" class="form-input-text-date-pickadate" data-timeframe="StepOneFormPickupDate" data-bind="value: pickupDate, placeholder: uship.localization['fileclaimPickupDate']" />
                            <input type="text"  data-selenium="pickupDate" class="datepicker" style="display: none;" data-timeframe="StepOneFormPickupDate" data-bind="value: pickupDate2" />
                        </div>
                        <div class="small-2 large-2 medium-2 columns" data-selenium="pickupCalendarIcon" data-bind="click:openCalendar">
                            <span class="postfix radius">
                                <span aria-hidden="true" class="icon-calendar" />
                            </span>
                        </div>
                    </div>
                    
                    <div data-bind="slideVisible: pickupWarningVisible, slideSize: 'small'">
                        <div class="alert-box secondary radius"  data-bind="loc:'pickupSameDayWarning'">
                        </div>    
                    </div>
                    <div data-bind="slideVisible: weekendPickupWarningVisible, slideSize: 'small'">
	                    <div class="alert-box secondary radius"  data-bind="loc: 'pickupWeekendWarning'">
	                    </div>
                    </div>
                    <div class="boldHeader">
                        <span data-bind="loc: 'accessorialPickupServices'" class="main-title"></span>
                        <div class="modalpanel">
                            <div class="modalpanel-container">
                                <span class='modalpanel-close'></span>
                                <div class="modal-content">
                                    <h6 data-bind="loc: 'accessorialPickupServices'"></h6>
                                    <p data-bind="loc: 'helpCalloutPickupLiftgateServ'"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 large-10 medium-10 columns">
                            <div data-bind="checkboxlist: { options: accessorials.pickup, skin: 'basic-inline', selected: selectedAccessorials.pickup, click: handleChkClick, optionsValue: 'value', optionsText: 'label' }"></div>
                        </div>
                    </div>
                    
                    <div data-bind="slideVisible: location.pickup.showLiftgateMessage, slideSize: 'tiny'">
                        <div class="alert-box secondary radius"  data-bind="text: location.pickup.liftgateAlertText">
                        </div>    
                    </div>
                </div>
                <div class="large-6 medium-6 columns stepone-location" id="ltl-delivery-location">
                    <h6 data-bind="loc: 'MainDelivery'">
                    </h6>
                    <!-- ko template: { name: 'freight-location-template', data: location.delivery } --><!-- /ko -->
                    <div class="boldHeader delivery-services">
                        <span data-bind="loc: 'accessorialDeliveryServices'" class="main-title"></span>
                        <div class="modalpanel">
                            <div class="modalpanel-container">
                                <span class='modalpanel-close'></span>
                                <div class="modal-content">
                                    <h6 data-bind="loc: 'accessorialDeliveryServices'"></h6>
                                    <p data-bind="loc: 'helpCalloutCallBeforeDelivery'"></p>
                                    <p data-bind="loc: 'helpCalloutDeliveryAppointmentRequired'"></p>
                                    <p data-bind="loc: 'helpCalloutDeliveryLiftgateServ'"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 large-10 medium-10 columns">
                            <div data-bind="checkboxlist: { options: accessorials.delivery, skin: 'basic-inline', selected: selectedAccessorials.delivery, click: handleChkClick, optionsValue: 'value', optionsText: 'label' }"></div>
                        </div>
                    </div>
                    <div data-bind="slideVisible: location.delivery.showLiftgateMessage, slideSize: 'tiny'">
                        <div class="alert-box secondary radius" data-bind="text: location.delivery.liftgateAlertText">
                        </div>    
                    </div>
                </div>
            </div>
            <div class="additional-services">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="additional-services-toggle" data-bind="click: toggleAdditionalServices, css: { 'additional-services-open': additionalServicesIsVisible }">
                            <span data-bind="loc: 'AdditionalServices'" class="main-title"></span>
                            <div class="modalpanel">
                                <div class="modalpanel-container">
                                    <span class='modalpanel-close'></span>
                                    <div class="modal-content">
                                        <h6 data-bind="loc: 'AdditionalServices'"></h6>
                                        <p data-bind="loc: 'helpCalloutProtectFromFreezing'"></p>
                                        <p data-bind="loc: 'helpCalloutBlindShipCoord'"></p>
                                        <p data-bind="loc: 'helpCalloutSortAndSeg'"></p>
                                        <p data-bind="loc: 'helpCalloutInsidePickup'"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="slideVisible: additionalServicesIsVisible, slideSize: 'small'">
                    <div class="large-6 medium-6 columns">
                        <div data-bind="checkboxlist: { options: accessorials.additional, skin: 'basic-block', selected: selectedAccessorials.additional, optionsValue: 'value', optionsText: 'label' }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="empty-template">
    <div class="row">
    </div>
</script>

<script type="text/html" id="default-form-template">
    <div class="row">
        <div class="row location-row">
        <div class="large-6 medium-6 columns stepone-location pickup">
            <h6 data-bind="loc: 'PickupCityZip'"></h6>
            <div data-bind="template: { name: 'location-template', data:pickup}"></div>
        </div>
        <div class="large-6 medium-6 columns stepone-location delivery">
            <h6 data-bind="loc: 'DeliveryCityZip'"></h6>
            <div data-bind="template: { name: 'location-template', data:delivery}"></div>
        </div>
    </div>
</script>
<script type="text/html" id="location-template">
    <div class="row" style="position: relative" data-bind="attr: { 
    'id': (addressType == 'pickup')? 'pickupGP' : 'deliveryGP'}
    , css: {'origin-information' : addressType == 'pickup', 'destination-information': addressType != 'pickup'}">
        <div class="small-12 columns">
            <input name="_ctl0:ContentBody:_ctl3:_ctl12" type="search"  />
          
            <small class="gp-error error custom-dd-error" data-bind='validationMessage: place'></small>
        </div>
    </div>

    <div class="row collapse" style="position: relative" style="display: block;" data-bind="attr: { 'id': (addressType == 'pickup')? 'pickupZIP' : 'deliveryZIP' }">
        <div class="small-10 large-10 medium-10 columns">
            <input class="js-postalcode postal-code" type="text" data-bind=" placeholder: postalCodeText, value: postalCode, attr: {'data-selenium': addressType } " />
            <small class="field-tip" data-bind="slideVisible: !isSelectingCountry(), slideSize: 'tiny'">
                <span style="font-weight: bold" data-bind="text: countryName"></span>&nbsp;&#124;&nbsp;<a data-bind="    click: selectCountry, loc: 'MainChange'"></a>
            </small>
        </div>
        <div class="small-2 large-2 medium-2 columns">
            <span class="postfix radius" data-bind="click: lookup.showPostalCodeLookup"><span aria-hidden="true" class="icon-help" /></span>
        </div>
        <img data-bind="visible: (addressType == 'pickup'), attr:{'src': ($root.displayMode=='landingpage')?'/public/images/icons/arrow-right-dark-36x32.png' :'/public/images/icons/arrow-right-gray-trans-36x32.png'}" class="pickup-delivery-arrow" />
    </div>
    <div class="postal-code-lookup row" data-bind="
        css: {
            'pickup' : addressType == 'pickup',
            'delivery' : addressType == 'delivery' }, 
        slideVisible: lookup.lookingUpPostalCode,
        slideSize: 'small',
        template: { 
            name: 'postalcode-lookup-template',
            data: lookup,
            afterRender: lookup.unbindClicksByDefault }"></div>
    
    <div class="row">
        <div class="small-12 large-12 columns">
            <div data-bind="slideVisible: isSelectingCountry, dropdown: {options: $root.countries, value: countryCode, selected:countryCode, optionsCaption: '-Select Country-', optionsValue: 'value', optionsText: 'label'}"></div>
        </div>
    </div>

</script>
<script type="text/html" id="location-extended-template">
    <!-- ko template: { name: 'location-template'} --> <!-- /ko -->
    <div class="alert-box alert" data-bind="visible: failedValidation() && isUsCa(), loc: 'CouldNotFindNeedMoreInfo'">
    </div>

    <div class="row" data-bind="attr: { 'id': (addressType == 'pickup')? 'pickupProvince' : 'deliveryProvince' }">
        <div class="small-12 large-12 columns">
            <input type="text" data-bind="visible: isProvinceNameVisible, value: provinceName, placeholder: uship.localization['MainJsProvinceRegion']" />
            <div data-bind="visible: isProvinceDropdownVisible, dropdown: { options: provinces, optionsCaption: '-select state-', optionsText: 'label',optionsValue:'value', selected: provinceValue}"></div>
        </div>
    </div>

    <div class="row" data-bind="attr: { 'id': (addressType == 'pickup')? 'pickupCity' : 'deliveryCity' }">
        <div class="small-12 large-12 columns">
            <input data-bind="value: cityName, visible: isCityVisible, placeholder: uship.localization['listingprocCompleteCity']" type="text" />
        </div>
    </div>

</script>
<script type="text/html" id="freight-location-template">
    <div class="row">
        <div class="small-12 large-12 columns">
            <select name="location-type" tabindex="1" class="location-type" data-bind="
                options: $parent.locationTypes, 
                optionsCaption: locationTypeCaption, optionsText: 'label', 
                optionsValue: 'value', 
                value: locationType, 
                attr: {'data-selenium' : addressType+'Type' }">
            </select>
        </div>
    </div>
    <!--ko template: { name: 'location-extended-template'} --><!-- /ko -->
</script>
<script id="postalcode-lookup-template" type="text/html">
    <div class="large-12 columns">
        <div class="row">
            <div class="small-12 columns">
                <h6>PostalCode Lookup</h6>
                <span aria-hidden="true" class="icon-close postal-code-close"></span>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <input type="text" placeholder="City" data-bind="value: city"/>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <select data-bind="
                    options: provinces, 
                    optionsCaption: uship.localization['SelectState'], 
                    optionsText: 'label', 
                    optionsValue: 'value',
                    value: provinceValue">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <button class="button secondary" data-bind="click: lookupPostalCode, loc: 'ListLookUpZip'" type="button"></button>
            </div>
        </div>
    </div>
</script>


<script id="freight-items-template" type="text/html">

    <div class="shipment-items-section" data-bind="visible: $root.showPreviousShipmentsButton()">
        <div id="easyRelistModal" class="easyRelist">
            <div data-bind="modal: { content: 'easyRelistModalContent',
                title: uship.localization['previousShipmentsHeader'],
                showSubmit: false,
                showCancel: false,
                data: $root.previousShipments,
                showCornerCancel: true,
                open: $root.showEasyRelistModal }"></div>
        </div>
        <div class="row easy-relist">
            <div class="small-12 large-8 medium-8 columns">
                <button class="button secondary small show-easy-relist" data-bind="click: function(){$root.showEasyRelistModal(true);}, text: uship.localization['selectAPreviousShipment']" ></button>
            </div>
        </div>
    </div>
    
    <div class="shipment-items-section freight-class-row">
        <div class="row">
            <div class="small-12 large-8 medium-8 columns">
                <span style="font-weight: bold; line-height: 3.4em;" data-bind="loc:'FreightClassPrompt'"></span>
                <div class="modalpanel">
                    <div class="modalpanel-container">
                        <span class='modalpanel-close'></span>
                        <div class="modal-content">
                            <p data-bind="loc: 'FreightClassToolTip'"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 large-4 medium-4 columns">
                <div class="button-group radius even-2" data-bind="foreach: freightClassPromptOptions">
                    <a class="button secondary medium text-center js-toggle-class-or-dims"
                        data-bind="text: $data.label,
                            css: { 'selected': $parent.hasFreightClass() === $data.value },
                            click: $parent.toggleFreightClass.bind($parent)"
                        style="margin-bottom: 0;"></a>
                </div>
            </div>
        </div>
    </div>
    <hr class="divider"/>

    <div class="freight-items" data-bind="template: {foreach:freightItems, afterAdd: freightItemsAfterAdd, beforeRemove: freightItemsBeforeRemove}">
        <div class="freight-item">
            <div class="row freight-item-measurements">
                <div class="small-12 columns" data-bind="css: {'large-3 medium-3': !$parent.hasFreightClass(), 'large-4 medium-4': $parent.hasFreightClass()}">
                    <h6>
                        <span data-bind="loc: 'MainItem'"></span>
                        <span data-bind="text: $index() + 1"></span>

                        <!-- ko if: $index() == 0 -->
                        <div class="modalpanel">
                            <div class="modalpanel-container">
                                <span class='modalpanel-close'></span>
                                <div class="modal-content">
                                    <p data-bind="loc: 'HandlingUnitToolTip'"></p>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->

                    </h6>
                    <select tabindex="1" name="packaging-type" data-selenium="packagingType" data-bind="
                        options: $parent.handlingTypes, 
                        optionsCaption: uship.localization['handlingUnit'] + '...', 
                        optionsValue: 'value', 
                        value: packagingType,
                        optionsText: 'label'">
                    </select>
                </div>
                <div class="small-12 columns" data-bind="css: {'large-9 medium-9': !$parent.hasFreightClass(), 'large-8 medium-8': $parent.hasFreightClass()}">
                    
                    <div class="row">
                        <!-- ko if: !$parent.hasFreightClass() -->
                        <div class="large-7 medium-7 columns">
                            <h6>
                                <span data-bind="loc: 'DimensionsPerUnit'"></span>
                                <span style="font-weight: normal">&#40;<span data-bind="loc: 'IncludePackaging'"></span>&#41;
                                </span>
                            </h6>
                            <div class="row collapse">
                                <div class="small-3 large-3 medium-3 columns">
                                    <input style="border-radius: 10px 0 0 10px;" class="length" data-selenium="unitLength" type="text" data-bind="value: length, placeholder: uship.localization['db_HeavEqup_Length']" tabindex="1"/>
                                </div>
                                <div class="small-3 large-3 medium-3 columns">
                                    <input style="border-radius:0; border-left: 0;" class="width" data-selenium="unitWidth" type="text" data-bind="value: width, placeholder: uship.localization['listing_outputBoatItemWidth']" tabindex="1" />
                                </div>
                                <div class="small-3 large-3 medium-3 columns">
                                    <input class="height" style="border-radius:0; border-left: 0;" data-selenium="unitHeight" type="text" data-bind="value: height, placeholder: uship.localization['listing_outputBoatItemHeight']" tabindex="1" />
                                </div>
                                <div class="small-3 large-3 medium-3 columns">
                                    <select style="border-left: 0;" class="adjacent west with-left-border" data-bind=" 
                                        options: $parent.unitsOfMeasurement, 
                                        optionsValue: 'value', 
                                        value: $parent.systemOfMeasurement, 
                                        optionsText: 'label1'"></select>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $parent.hasFreightClass() -->
                        <div class="large-6 medium-6 columns">
                            <h6 data-bind="loc: 'ListingFreightClass'"></h6>
                            <div class="row collapse">
                                <select name="freight-class" data-selenium="freightClass" class="freight-class-dd" data-bind="
                                    tabIndex:'1', 
                                    options: $parent.freightClassOptions, 
                                    optionsCaption: uship.localization['ListingFreightClass'] + '...', 
                                    optionsValue: 'value', 
                                    optionsText: 'label',
                                    value: freightClass">
                                </select>                           
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="columns" data-bind="css: {'large-5 medium-5': !$parent.hasFreightClass(), 'large-6 medium-6': $parent.hasFreightClass()}">
                            <div class="row collapse">
                                <div class="large-8 medium-8 small-8 columns">
                                    <h6 data-bind="loc: 'MainUnitWeight'"></h6>
                                    <div class="row collapse freight-item-weight">
                                        <div class="small-8 large-6 medium-6 columns">
                                            <input class="weight adjacent east" data-selenium="unitWeight" type="text" placeholder="Weight" data-bind="value: unitWeight, placeholder: uship.localization['db_HeavEqup_Weight']" tabindex="1"/>
                                        </div>
                                        <div class="small-4 large-6 medium-6 columns">
                                            <select class="adjacent west with-left-border" data-bind="
                                                options: $parent.unitsOfMeasurement, 
                                                optionsValue: 'value', 
                                                value: $parent.systemOfMeasurement, 
                                                optionsText: 'label2'"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-3 medium-3 small-3 columns">
                                    <h6 data-bind="loc: 'mainunits'" style="text-transform: capitalize;"></h6>
                                    <input class="unit-count" style="padding-left: 20px;" data-selenium="unitCount" type="text" data-bind="value: unitCount, placeholder: uship.localization['mainunits']" tabindex="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row collapse" data-bind="slideVisible: showDimWarning">
                <div class="alert-box secondary">
                    <!-- ko text: $parent.DimsWarningMessage -->
                    <!--/ko -->
                    <a data-bind="click:closeWarning" class="close">&times;</a>
                </div>
            </div>
            <div class="row freight-item-checkboxes">
                <div class="small-6 large-6 medium-6 columns">
                    <div class="checkbox-list basic-inline">
                        <label data-bind="css: { 'checked': stackable }" class="checkbox stackable">
                            <span class="indicator"></span>
                            <input type="checkbox" data-selenium="isStackable" data-bind="checked: stackable">
                            <span data-bind="loc: 'listing_outputFurnitureMultiStackable'"></span>
                        </label>

                        <label data-bind="css: { 'checked': hazardous }" class="checkbox">
                            <span class="indicator"></span>
                            <input type="checkbox" data-bind="checked: hazardous">
                            <span data-bind="loc: 'Hazardous'"></span>
                        </label>
                        <span class="modalpanel">
                            <div class="modalpanel-container">
                                <span class='modalpanel-close'></span>
                                <div class="modal-content">
                                    <p data-bind="loc: 'helpCalloutHazardousHeader'" style="font-weight: bold"></p>

                                    <p data-bind="loc: 'helpCalloutHazardousBody'"></p>
                                </div>
                            </div>
                        </span>

                    </div>
                </div>
                <div class="small-6 large-6 medium-6 columns total-weight-row">
                    <h6 class="total-weight">
                        <span data-bind="loc: 'biddetailsAcceptTotal'"></span>&nbsp;
                        <span>&#61;</span>&nbsp;
                        <span style="font-weight: normal;" data-bind="text: totalWeight"></span>&nbsp;<span style="font-weight: normal;" data-bind="    text: $parent.weightUnits"></span></h6>
                    <small class="error" data-bind="validationMessage: totalWeight"></small>
                </div>
                
            </div>
            <div class="row">
                <div class="small-12 large-3 medium-3 large-offset-9 columns">
                    <div class="remove-freight-item" data-bind="click: $parent.removeFreightItem, visible: $parent.freightItems().length > 1">
                        <span class="icon-close" aria-hidden="true"></span>&nbsp;<span data-bind="loc:'MainRemoveItem'" style="margin-left: 20px;"></span>
                    </div>
                </div>
            </div>


        </div>
    
    </div>
    <hr class="divider"/>
    <div class="row add-item">
        <div class="small-12 large-4 medium-4 columns">
            <button class="button round small secondary" data-bind="click: addFreightItem">
                <span class="icon-plus" aria-hidden="true"></span>
                &nbsp;<span data-bind="loc: 'additionalItem'"></span>
            </button>
        </div>
    </div>
</script>
<script type="text/html" id="clt-moto-template">
    <hr class="divider no-modal"/>
    <div data-bind="visible:isUS" class="clt-moto-row">
        <div class="row clt-moto-titles">
            <div class="small-6 large-6 medium-6 columns">
                <h6 data-bind="loc: 'listingprocVehiclesMultiInfo'"></h6>
            </div>
            <div class="small-6 large-6 medium-6 text-right columns">
                <h6><a data-bind="loc: 'ListMultiplevehicles', attr:{href: '/listing2.aspx?c2=0&c=' + $parent.subCommodityId()}"></a></h6>
            </div>
        </div>
        <div class="row">
            <div class="large-3 medium-3 columns">
                <select id="year-select" data-selenium="yearSelect" data-bind="
                    enable: years().length > 0,
                    options: years, 
                    value: year, 
                    optionsCaption: uship.localization['myInvoicesYear'] + '...', 
                    optionsValue: 'value', 
                    optionsText: 'label',
                    valueAllowUnset: true,
                    name: 'year-select'">
                </select>
            </div>
            <div class="large-9 medium-9 columns">
                <div class="row">
                    <div class="small-12 large-6 medium-6 columns">
                        <select id="make-select" data-selenium="makeSelect" data-bind="
                            options: makes,
                            value: make,
                            selectedText: makeName,
                            optionsCaption: uship.localization['listingprocHeavyEquipmentMake'] + '...',
                            optionsValue: 'value',
                            optionsText: 'label',
                            valueAllowUnset: true,
                            enable: enableMake">
                        </select>
                    </div>
                    <div class="small-12 large-6 medium-6 columns">
                        <select id="model-select" data-selenium="modelSelect" data-bind="
                            options: models,
                            value:model,
                            selectedText: modelName,
                            optionsCaption: uship.localization['ListingModelOfItem'] + '...',
                            optionsValue: 'value',
                            optionsText: 'label',
                            valueAllowUnset: true,
                            enable: enableModel"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div data-bind="checkboxlist: { options: accessorials,skin:'basic-inline', selected: selectedAccessorials, optionsValue: 'value', optionsText:'label'}"></div>
        </div>
    </div>
    <hr class="divider no-modal"/>
    <div class="row">
        <div class="large-12 columns">
            <div data-bind="template: { name: $root.getDefaultFormTemplate()}"></div>
        </div>
    </div>
</script>

<script type="text/html" id="easyRelistModalContent">
    <div>
        <div class="panel-section">
            <div class="row">
                <div class="small-12 columns previous-shipment-summary" data-bind="loc: 'selectPreviousAndReviewDetails'">
                </div>
            </div>
        </div>
        <div class="panel-section easy-relist-header hide-for-small">
            <div class="row">
                <div class="large-4 medium-4 columns" data-bind="loc: 'listingProcShipmentDescription'">
                </div>
                <div class="large-3 medium-3 columns" data-bind="loc: 'Map_Com_Pickup'">
                </div>
                <div class="large-3 medium-3 columns end" data-bind="loc: 'MainDelivery'">
                </div>
            </div>
        </div>    
        <div data-bind="foreach: $data" style="font-size: 14px; min-height: 222px;">
            <div class="panel-section previous-shipment">
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <div class="shipment-header" data-bind="text: Description"></div>
                        <div class="shipment-subheader" data-bind="text: Title"></div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="shipment-header location pickup" data-bind="text: PickupCompanyName"></div>
                        <div class="shipment-subheader location pickup" data-bind="text: PickupLocation"></div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="shipment-header location delivery" data-bind="text: DeliveryCompanyName"></div>
                        <div class="shipment-subheader location delivery"  data-bind="text: DeliveryLocation"></div>
                    </div>
                    <div class="large-2 medium-2 columns">
                        <div>
                            <button class="button secondary small previous-shipment-select" style="margin-bottom: 20px; margin-top: 5px;" data-bind="click: function() {selectRecentShipment($data); $root.onCancel();}, loc: 'select'" ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

</script>

<script id="customMessageTemplate" type="text/html">
    <small class="error" data-bind='validationMessage: field'></small>
</script>






























        </div>
    </div>
    
    
<script type="text/javascript">
    var h = new HeapAnalytics({
        heapProjectId: 1838401034,
        heapHandle: '',
        shipperType: '',
        deferPageviewTracking: true
    });
</script>

    <script>
        (function($) {
            $('#divStepOneForm').addClass('main-select');
        })(jQuery);
    </script>

                
                    <div>
                        
                    </div>
                </div>
			</div>
			
            <div id="ftControl">
                

<div id="ft" class="footer-ft">
    
    <div id="Foot_divFooterSimpleInner" class="footer-simple">
            <div class="footer-content layout">
                <div style="float: right;" class="footer-partner-seals">
                    
                </div>
                <div class="layout-unit footer-social-and-legal-links-container">
                    
                        
                    <div class="footer-legal">
                        <span class="footer-legal-text">
                            Copyright © 2015, Transporto.com and its licensors. All rights reserved.
                        </span>
                        
                    </div>
                </div>  
            </div>
        </div>
    
</div>
<script language="javascript">
    jQuery(function () {
        var SitesViewModel = function(options) {
            this.sites = ko.observableArray(options.sites);
            this.current = ko.observable(options.current);
            
            this.current.subscribe(siteChangedHandler);

            function siteChangedHandler(newSite) {
                this.prefix = jQuery("#Foot_hdnDirectoryPrefix").val() ? jQuery("#Foot_hdnDirectoryPrefix").val() : "";
                this.fromHomePage = !(this.prefix === "") && (window.location.pathname.search(this.prefix) != -1);
                
                this.redirectUrl = window.location.protocol + "//" + window.location.host
                    + "/redirect/RegionRedirect.aspx/?siteid=" + newSite
                    + "&referrer=" + window.location.pathname.slice(1)
                    + "&fromHome=" + this.fromHomePage;
                window.location = this.redirectUrl;
            };
        };

        window.sitesVM = new SitesViewModel({
            sites: JSON.parse('[{"label":"United States","value":1},{"label":"Argentina","value":22},{"label":"Australia","value":5},{"label":"Österreich","value":19},{"label":"Brasil","value":21},{"label":"Canada","value":2},{"label":"Chile","value":23},{"label":"Colombia","value":27},{"label":"France","value":9},{"label":"Deutschland","value":8},{"label":"India","value":6},{"label":"México","value":14},{"label":"Nederland","value":10},{"label":"Perú","value":26},{"label":"South Africa","value":15},{"label":"España","value":11},{"label":"United Kingdom","value":3},{"label":"Venezuela","value":28},{"label":"European Union","value":4},{"label":"Global","value":7}]'),
            current: JSON.parse('{"label":"India","value":6}').value
    });
        globalDropdown = jQuery('#Foot_divGlobalDropdown')[0];
        globalDropdown && ko.applyBindings(window.sitesVM, globalDropdown);
    });
</script>
            </div>
            
		</div>
        
		
    
        
        <div id="overlays" style="z-index: 1001; position: absolute; top: 0; left: 0;"></div>
        
        <div id="yui-calendar" class="yui-skin-sam" style="position:absolute; z-index: 1000; display: none;">
            <div id="cal3Container"></div>
        </div>
        
    </form>
    

    
    
    
    
    



        <script type="text/javascript">
            uship.dom.events.attach(document, 'ready', function () {
                uship.ns.template.navigation.init();

                $('hd').select('.myuship-nav-tally-empty').each(function (s) {
                    if (!s.empty()) {
                        s.removeClassName('myuship-nav-tally-empty');
                    }
                });
            });
        </script>
    
    

<script src="//t.ushipcdn.com/js/lib/knockout/knockout-3.1.0.js?t=5.635477520170000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/uship.js?t=5.635796489160000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/messageBus.js?t=5.635836155730000000" type="text/javascript"></script>
<script src="http://s.ushipcdn.com/jstLocStringsHandler.axd?bn=Controls%2fUser%2flistingControls%2fStepOneform.ascx&hl=en-IN&v=2777222b07ce6fa29815f10bc7aa6c16&bundleJsAlias=steponeform" type="text/javascript"></script>
<script src="http://s.ushipcdn.com/jstLocStringsHandler.axd?bn=Controls%2fUser%2flistingControls%2fcustom%2fFreightItems2.ascx&hl=en-IN&v=2777222b07ce6fa29815f10bc7aa6c16&bundleJsAlias=steponeform" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.js" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/lib/knockout/knockout.validation.js?t=5.635482788120000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/lib/knockout/knockout.validation.rules.js?t=5.635805883500000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/uship.knockout.extensions.js?t=5.635762895120000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/uship.knockout.ui.js?t=5.635762895120000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/pickadate.js?t=5.635762895220000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/pickadate_init.js?t=5.635762895220000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/jquery.modal2.js?t=5.635762895220000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/modalpanel_init.js?t=5.635762895220000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/commodityList.js?t=5.635762895220000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/freightitems2.js?t=5.635762895220000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/postalCodeLookup.js?t=5.635762895220000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/location.js?t=5.635762895220000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/ltlform.js?t=5.635762895220000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/carmoto.js?t=5.635762895220000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/web/stepone/stepone.js?t=5.635804244930000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/lib/typeahead/typeahead.js?t=5.635640625940000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/uship.google-maps.place.js?t=5.635762895110000000" type="text/javascript"></script>
<script src="//t.ushipcdn.com/js/uship.list.google-maps-helper.js?t=5.635762895120000000" type="text/javascript"></script>
<script src="http://s.ushipcdn.com/sticky/public/js/knockout/uship.knockout.validator.extensions.js?9:968630023" type="text/javascript"></script>


    <!--[if lte IE 9]>
        <script type="text/javascript" src="http://s.ushipcdn.com/public/js/lib/jquery/jquery.xdomainrequest.js"></script>
    <![endif]-->

    <script type="text/javascript">
        if (uship.ns.pickadate) {
            uship.ns.pickadate.opts = {
                formatSubmit: 'm/dd/yyyy'
            };
        }
    
        (function ($, root) {

            var countries = '[{"id":1,"value":"US","longCode":"USA","label":"United States"},{"id":2,"value":"CA","longCode":"CAN","label":"Canada"},{"id":3,"value":"GB","longCode":"GBR","label":"United Kingdom"},{"id":4,"value":"AF","longCode":"AFG","label":"Afghanistan"},{"id":5,"value":"AL","longCode":"ALB","label":"Albania"},{"id":6,"value":"DZ","longCode":"DZA","label":"Algeria"},{"id":7,"value":"AS","longCode":"ASM","label":"American Samoa"},{"id":8,"value":"AD","longCode":"AND","label":"Andorra"},{"id":9,"value":"AO","longCode":"AGO","label":"Angola"},{"id":10,"value":"AI","longCode":"AIA","label":"Anguilla"},{"id":11,"value":"AG","longCode":"ATG","label":"Antigua and Barbuda"},{"id":12,"value":"AR","longCode":"ARG","label":"Argentina"},{"id":13,"value":"AM","longCode":"ARM","label":"Armenia"},{"id":14,"value":"AW","longCode":"ABW","label":"Aruba"},{"id":15,"value":"AU","longCode":"AUS","label":"Australia"},{"id":16,"value":"AT","longCode":"AUT","label":"Austria"},{"id":17,"value":"AZ","longCode":"AZE","label":"Azerbaijan Republic"},{"id":18,"value":"BS","longCode":"BHS","label":"Bahamas"},{"id":19,"value":"BH","longCode":"BHR","label":"Bahrain"},{"id":20,"value":"BD","longCode":"BGD","label":"Bangladesh"},{"id":21,"value":"BB","longCode":"BRB","label":"Barbados"},{"id":22,"value":"BY","longCode":"BLR","label":"Belarus"},{"id":23,"value":"BE","longCode":"BEL","label":"Belgium"},{"id":24,"value":"BZ","longCode":"BLZ","label":"Belize"},{"id":25,"value":"BJ","longCode":"BEN","label":"Benin"},{"id":26,"value":"BM","longCode":"BMU","label":"Bermuda"},{"id":27,"value":"BT","longCode":"BTN","label":"Bhutan"},{"id":28,"value":"BO","longCode":"BOL","label":"Bolivia"},{"id":29,"value":"BA","longCode":"BIH","label":"Bosnia and Herzegovina"},{"id":30,"value":"BW","longCode":"BWA","label":"Botswana"},{"id":31,"value":"BR","longCode":"BRA","label":"Brazil"},{"id":32,"value":"VG","longCode":"VGB","label":"British Virgin Islands"},{"id":33,"value":"BN","longCode":"BRN","label":"Brunei Darussalam"},{"id":34,"value":"BG","longCode":"BGR","label":"Bulgaria"},{"id":35,"value":"BF","longCode":"BFA","label":"Burkina Faso"},{"id":36,"value":"MM","longCode":"MMR","label":"Burma"},{"id":37,"value":"BI","longCode":"BDI","label":"Burundi"},{"id":38,"value":"KH","longCode":"KHM","label":"Cambodia"},{"id":39,"value":"CM","longCode":"CMR","label":"Cameroon"},{"id":40,"value":"CV","longCode":"CPV","label":"Cape Verde Islands"},{"id":41,"value":"KY","longCode":"CYM","label":"Cayman Islands"},{"id":42,"value":"CF","longCode":"CAF","label":"Central African Republic"},{"id":43,"value":"TD","longCode":"TCD","label":"Chad"},{"id":44,"value":"CL","longCode":"CHL","label":"Chile"},{"id":45,"value":"CN","longCode":"CHN","label":"China"},{"id":46,"value":"CO","longCode":"COL","label":"Colombia"},{"id":47,"value":"KM","longCode":"COM","label":"Comoros"},{"id":48,"value":"CD","longCode":"COG","label":"Congo, Democratic Republic of the"},{"id":49,"value":"CG","longCode":"COD","label":"Congo, Republic of the"},{"id":50,"value":"CK","longCode":"COK","label":"Cook Islands"},{"id":51,"value":"CR","longCode":"CRI","label":"Costa Rica"},{"id":52,"value":"CI","longCode":"CIV","label":"Cote d Ivoire (Ivory Coast)"},{"id":53,"value":"HR","longCode":"HRV","label":"Croatia, Republic of"},{"id":54,"value":"CY","longCode":"CYP","label":"Cyprus"},{"id":55,"value":"CZ","longCode":"CZE","label":"Czech Republic"},{"id":56,"value":"DK","longCode":"DNK","label":"Denmark"},{"id":57,"value":"DJ","longCode":"DJI","label":"Djibouti"},{"id":58,"value":"DM","longCode":"DMA","label":"Dominica"},{"id":59,"value":"DO","longCode":"DOM","label":"Dominican Republic"},{"id":60,"value":"EC","longCode":"ECU","label":"Ecuador"},{"id":61,"value":"EG","longCode":"EGY","label":"Egypt"},{"id":62,"value":"SV","longCode":"SLV","label":"El Salvador"},{"id":63,"value":"GQ","longCode":"GNQ","label":"Equatorial Guinea"},{"id":64,"value":"ER","longCode":"ERI","label":"Eritrea"},{"id":65,"value":"EE","longCode":"EST","label":"Estonia"},{"id":66,"value":"ET","longCode":"ETH","label":"Ethiopia"},{"id":67,"value":"FK","longCode":"FLK","label":"Falkland Islands (Islas Malvinas)"},{"id":68,"value":"FJ","longCode":"FJI","label":"Fiji"},{"id":69,"value":"FI","longCode":"FIN","label":"Finland"},{"id":70,"value":"FR","longCode":"FRA","label":"France"},{"id":71,"value":"GF","longCode":"GUF","label":"French Guiana"},{"id":72,"value":"PF","longCode":"PYF","label":"French Polynesia"},{"id":73,"value":"GA","longCode":"GAB","label":"Gabon Republic"},{"id":74,"value":"GM","longCode":"GMB","label":"Gambia"},{"id":75,"value":"GE","longCode":"GEO","label":"Georgia"},{"id":76,"value":"DE","longCode":"DEU","label":"Germany"},{"id":77,"value":"GH","longCode":"GHA","label":"Ghana"},{"id":78,"value":"GI","longCode":"GIB","label":"Gibraltar"},{"id":79,"value":"GR","longCode":"GRC","label":"Greece"},{"id":80,"value":"GL","longCode":"GRL","label":"Greenland"},{"id":81,"value":"GD","longCode":"GRD","label":"Grenada"},{"id":82,"value":"GP","longCode":"GLP","label":"Guadeloupe"},{"id":83,"value":"GU","longCode":"GUM","label":"Guam"},{"id":84,"value":"GT","longCode":"GTM","label":"Guatemala"},{"id":85,"value":"GG","longCode":"GGY","label":"Guernsey"},{"id":86,"value":"GN","longCode":"GIN","label":"Guinea"},{"id":87,"value":"GW","longCode":"GNB","label":"Guinea-Bissau"},{"id":88,"value":"GY","longCode":"GUY","label":"Guyana"},{"id":89,"value":"HT","longCode":"HTI","label":"Haiti"},{"id":90,"value":"HN","longCode":"HND","label":"Honduras"},{"id":91,"value":"HK","longCode":"HKG","label":"Hong Kong"},{"id":92,"value":"HU","longCode":"HUN","label":"Hungary"},{"id":93,"value":"IS","longCode":"ISL","label":"Iceland"},{"id":94,"value":"IN","longCode":"IND","label":"India"},{"id":95,"value":"ID","longCode":"IDN","label":"Indonesia"},{"id":96,"value":"IE","longCode":"IRL","label":"Ireland"},{"id":97,"value":"IL","longCode":"ISR","label":"Israel"},{"id":98,"value":"IT","longCode":"ITA","label":"Italy"},{"id":99,"value":"JM","longCode":"JAM","label":"Jamaica"},{"id":101,"value":"JP","longCode":"JPN","label":"Japan"},{"id":102,"value":"JE","longCode":"JEY","label":"Jersey"},{"id":103,"value":"JO","longCode":"JOR","label":"Jordan"},{"id":104,"value":"KZ","longCode":"KAZ","label":"Kazakhstan"},{"id":105,"value":"KE","longCode":"KEN","label":"Kenya"},{"id":106,"value":"KI","longCode":"KIR","label":"Kiribati"},{"id":107,"value":"KR","longCode":"KOR","label":"Korea, South"},{"id":108,"value":"KW","longCode":"KWT","label":"Kuwait"},{"id":109,"value":"KG","longCode":"KGZ","label":"Kyrgyzstan"},{"id":110,"value":"LA","longCode":"LAO","label":"Laos"},{"id":111,"value":"LV","longCode":"LVA","label":"Latvia"},{"id":112,"value":"LB","longCode":"LBN","label":"Lebanon"},{"id":113,"value":"LI","longCode":"LIE","label":"Liechtenstein"},{"id":114,"value":"LT","longCode":"LTU","label":"Lithuania"},{"id":115,"value":"LU","longCode":"LUX","label":"Luxembourg"},{"id":116,"value":"MO","longCode":"MAC","label":"Macau"},{"id":117,"value":"MK","longCode":"MKD","label":"Macedonia"},{"id":118,"value":"MG","longCode":"MDG","label":"Madagascar"},{"id":119,"value":"MW","longCode":"MWI","label":"Malawi"},{"id":120,"value":"MY","longCode":"MYS","label":"Malaysia"},{"id":121,"value":"MV","longCode":"MDV","label":"Maldives"},{"id":122,"value":"ML","longCode":"MLI","label":"Mali"},{"id":123,"value":"MT","longCode":"MLT","label":"Malta"},{"id":124,"value":"MH","longCode":"MHL","label":"Marshall Islands"},{"id":125,"value":"MQ","longCode":"MTQ","label":"Martinique"},{"id":126,"value":"MR","longCode":"MRT","label":"Mauritania"},{"id":127,"value":"MU","longCode":"MUS","label":"Mauritius"},{"id":128,"value":"YT","longCode":"MYT","label":"Mayotte"},{"id":129,"value":"MX","longCode":"MEX","label":"Mexico"},{"id":130,"value":"MD","longCode":"MDA","label":"Moldova"},{"id":131,"value":"MC","longCode":"MCO","label":"Monaco"},{"id":132,"value":"MN","longCode":"MNG","label":"Mongolia"},{"id":133,"value":"MS","longCode":"MSR","label":"Montserrat"},{"id":134,"value":"MA","longCode":"MAR","label":"Morocco"},{"id":135,"value":"MZ","longCode":"MOZ","label":"Mozambique"},{"id":136,"value":"NA","longCode":"NAM","label":"Namibia"},{"id":137,"value":"NR","longCode":"NRU","label":"Nauru"},{"id":138,"value":"NP","longCode":"NPL","label":"Nepal"},{"id":139,"value":"NL","longCode":"NLD","label":"Netherlands"},{"id":140,"value":"AN","longCode":"ANT","label":"Netherlands Antilles"},{"id":141,"value":"NC","longCode":"NCL","label":"New Caledonia"},{"id":142,"value":"NZ","longCode":"NZL","label":"New Zealand"},{"id":143,"value":"NI","longCode":"NIC","label":"Nicaragua"},{"id":144,"value":"NE","longCode":"NER","label":"Niger"},{"id":145,"value":"NG","longCode":"NGA","label":"Nigeria"},{"id":146,"value":"NU","longCode":"NIU","label":"Niue"},{"id":147,"value":"NO","longCode":"NOR","label":"Norway"},{"id":148,"value":"OM","longCode":"OMN","label":"Oman"},{"id":149,"value":"PK","longCode":"PAK","label":"Pakistan"},{"id":150,"value":"PW","longCode":"PLW","label":"Palau"},{"id":151,"value":"PA","longCode":"PAN","label":"Panama"},{"id":152,"value":"PG","longCode":"PNG","label":"Papua New Guinea"},{"id":153,"value":"PY","longCode":"PRY","label":"Paraguay"},{"id":154,"value":"PE","longCode":"PER","label":"Peru"},{"id":155,"value":"PH","longCode":"PHL","label":"Philippines"},{"id":156,"value":"PL","longCode":"POL","label":"Poland"},{"id":157,"value":"PT","longCode":"PRT","label":"Portugal"},{"id":158,"value":"PR","longCode":"PRI","label":"Puerto Rico"},{"id":159,"value":"QA","longCode":"QAT","label":"Qatar"},{"id":160,"value":"RO","longCode":"ROU","label":"Romania"},{"id":161,"value":"RU","longCode":"RUS","label":"Russian Federation"},{"id":162,"value":"RW","longCode":"RWA","label":"Rwanda"},{"id":163,"value":"SH","longCode":"SHN","label":"Saint Helena"},{"id":164,"value":"KN","longCode":"KNA","label":"Saint Kitts-Nevis"},{"id":165,"value":"LC","longCode":"LCA","label":"Saint Lucia"},{"id":166,"value":"PM","longCode":"SPM","label":"Saint Pierre and Miquelon"},{"id":167,"value":"VC","longCode":"VCT","label":"Saint Vincent and the Grenadines"},{"id":168,"value":"SM","longCode":"SMR","label":"San Marino"},{"id":169,"value":"SA","longCode":"SAU","label":"Saudi Arabia"},{"id":170,"value":"SN","longCode":"SEN","label":"Senegal"},{"id":171,"value":"SC","longCode":"SYC","label":"Seychelles"},{"id":172,"value":"SL","longCode":"SLE","label":"Sierra Leone"},{"id":173,"value":"SG","longCode":"SGP","label":"Singapore"},{"id":174,"value":"SK","longCode":"SVK","label":"Slovakia"},{"id":175,"value":"SI","longCode":"SVN","label":"Slovenia"},{"id":176,"value":"SB","longCode":"SLB","label":"Solomon Islands"},{"id":177,"value":"SO","longCode":"SOM","label":"Somalia"},{"id":178,"value":"ZA","longCode":"ZAF","label":"South Africa"},{"id":179,"value":"ES","longCode":"ESP","label":"Spain"},{"id":180,"value":"LK","longCode":"LKA","label":"Sri Lanka"},{"id":181,"value":"SR","longCode":"SUR","label":"Suriname"},{"id":182,"value":"SJ","longCode":"SJM","label":"Svalbard"},{"id":183,"value":"SZ","longCode":"SWZ","label":"Swaziland"},{"id":184,"value":"SE","longCode":"SWE","label":"Sweden"},{"id":185,"value":"CH","longCode":"CHE","label":"Switzerland"},{"id":186,"value":"SY","longCode":"SYR","label":"Syria"},{"id":188,"value":"TW","longCode":"TWN","label":"Taiwan"},{"id":189,"value":"TJ","longCode":"TJK","label":"Tajikistan"},{"id":190,"value":"TZ","longCode":"TZA","label":"Tanzania"},{"id":191,"value":"TH","longCode":"THA","label":"Thailand"},{"id":192,"value":"TG","longCode":"TGO","label":"Togo"},{"id":193,"value":"TO","longCode":"TON","label":"Tonga"},{"id":194,"value":"TT","longCode":"TTO","label":"Trinidad and Tobago"},{"id":195,"value":"TN","longCode":"TUN","label":"Tunisia"},{"id":196,"value":"TR","longCode":"TUR","label":"Turkey"},{"id":197,"value":"TM","longCode":"TKM","label":"Turkmenistan"},{"id":198,"value":"TC","longCode":"TCA","label":"Turks and Caicos Islands"},{"id":199,"value":"TV","longCode":"TUV","label":"Tuvalu"},{"id":200,"value":"UG","longCode":"UGA","label":"Uganda"},{"id":201,"value":"UA","longCode":"UKR","label":"Ukraine"},{"id":202,"value":"AE","longCode":"ARE","label":"United Arab Emirates"},{"id":203,"value":"UY","longCode":"URY","label":"Uruguay"},{"id":204,"value":"UZ","longCode":"UZB","label":"Uzbekistan"},{"id":205,"value":"VU","longCode":"VUT","label":"Vanuatu"},{"id":206,"value":"VA","longCode":"VAT","label":"Vatican City State"},{"id":207,"value":"VE","longCode":"VEN","label":"Venezuela"},{"id":208,"value":"VN","longCode":"VNM","label":"Vietnam"},{"id":209,"value":"VI","longCode":"VIR","label":"Virgin Islands (U.S.)"},{"id":210,"value":"WF","longCode":"WLF","label":"Wallis and Futuna"},{"id":211,"value":"EH","longCode":"ESH","label":"Western Sahara"},{"id":212,"value":"WS","longCode":"WSM","label":"Western Samoa"},{"id":213,"value":"YE","longCode":"YEM","label":"Yemen"},{"id":215,"value":"ZM","longCode":"ZMB","label":"Zambia"},{"id":216,"value":"ZW","longCode":"ZWE","label":"Zimbabwe"},{"id":218,"value":"FM","longCode":"FSM","label":"Micronesia"},{"id":219,"value":"LY","longCode":"LBY","label":"Libya"},{"id":224,"value":"RS","longCode":"SRB","label":"Serbia"}]';
            root.uship.namespace('steponeform').extend({
                countries: JSON.parse(countries.replace(/(\r\n|\n|\r)/gm, '')),
                freightClassTypes : [{"value":1,"label":"50"},{"value":2,"label":"55"},{"value":3,"label":"60"},{"value":4,"label":"65"},{"value":5,"label":"70"},{"value":6,"label":"77.5"},{"value":7,"label":"85"},{"value":8,"label":"92.5"},{"value":9,"label":"100"},{"value":10,"label":"110"},{"value":11,"label":"125"},{"value":12,"label":"150"},{"value":13,"label":"175"},{"value":14,"label":"200"},{"value":15,"label":"250"},{"value":16,"label":"300"},{"value":17,"label":"400"},{"value":18,"label":"500"}]
                });
            var commoditiesToDisplay = [{"Commodity":1,"SubCommodities":[12,13,14,15,16,17,18,19]},{"Commodity":3,"SubCommodities":[66,67,69,70,71,72,73,74,75,76,77,78]},{"Commodity":4,"SubCommodities":[79,81,82,83,84,85,87,88,91,92]},{"Commodity":146,"SubCommodities":[80,86,89,90,147]},{"Commodity":5,"SubCommodities":[93,94,95,96,97]},{"Commodity":391,"SubCommodities":[]},{"Commodity":1721,"SubCommodities":[1750,1751,1752,1753,1754]},{"Commodity":417,"SubCommodities":[137,150]},{"Commodity":2,"SubCommodities":[20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35]},{"Commodity":10,"SubCommodities":[124,125,130,131]},{"Commodity":416,"SubCommodities":[126,127,128,129]},{"Commodity":7,"SubCommodities":[112,113,114,115,116,117]},{"Commodity":6,"SubCommodities":[98,99,100,101,102,103,105,106,107,108,109,110,111]}];
            // hard coding ajaxpro path for now. it has issues on homepage, during postback.
         
            var steponeVM = new uship.steponeform.StepOneFormViewModel(commoditiesToDisplay, {
                ajaxProPath: '/ajaxpro/id3Solutions.UShip.Web.StepOneForm,id3Solutions.UShip.ashx',
                userSiteId: '6',
                accessorials: '{"pickup":[{"value":"PickupLiftgateRequired","label":"Liftgate service at pickup"}],"delivery":[{"value":"DeliveryCallAhead","label":"Call before delivery"},{"value":"DeliveryAppointmentRequired","label":"Delivery appointment required"},{"value":"DeliveryLiftgateRequired","label":"Liftgate service at delivery"}],"additional":[{"value":"ProtectFromFreezing","label":"Protect from freezing"},{"value":"SortAndSegregate","label":"Sort and segregate"},{"value":"BlindShipmentCoordination","label":"Blind shipment coordination"},{"value":"PickupInside","label":"Inside pickup"},{"value":"DeliveryInside","label":"Inside delivery"}]}',
                locationTypes: JSON.parse('[{"value":"Residence","label":"Residence / Home Business"},{"value":"BusinessWithLoadingDockOrForklift","label":"Commercial Building (with dock or forklift)"},{"value":"BusinessWithoutLoadingDockOrForklift","label":"Commercial Building (without dock or forklift)"},{"value":"FarmRanchEstate","label":"Farm / Ranch / Marina"},{"value":"StorageFacility","label":"Self / Mini-Storage Facility"},{"value":"TradeShowOrConvention","label":"Trade Show / Exhibition"},{"value":"ConstructionSite","label":"Construction Site"},{"value":"School","label":"School / College"},{"value":"GovernmentLocation","label":"Government Location"},{"value":"ReligiousInstitution","label":"Religious Institution"},{"value":"GolfCourseResortPark","label":"Golf Course / Resort / Park"},{"value":"MilitaryBase","label":"Military Base"},{"value":"Airport","label":"Airport"},{"value":"OtherSecuredLocation","label":"Other Secured or Limited Access Location"}]'),
                deliveryValAttemptId: '#ContentBody__ctl3_deliveryValAttempt',
                siteUrl: 'http://www.uship.com/',
                displayMode: 'steponeform',
                freightTypes: '[{"value":"9","label":"Pallets (Standard)"},{"value":"3","label":"Boxes"},{"value":"14","label":"Cartons"},{"value":"4","label":"Crates"},{"value":"5","label":"Drums"},{"value":"15","label":"Bags"},{"value":"16","label":"Bales"},{"value":"17","label":"Bundles"},{"value":"18","label":"Cans"},{"value":"19","label":"Carboys"},{"value":"20","label":"Carpets"},{"value":"21","label":"Cases"},{"value":"22","label":"Coils"},{"value":"23","label":"Cylinders"},{"value":"24","label":"Loose"},{"value":"25","label":"Pails"},{"value":"26","label":"Reels"},{"value":"27","label":"Rolls"},{"value":"28","label":"Tubes/Pipes"},{"value":"6","label":"Other"}]',
                modelElementId: '#ContentBody__ctl3_modelElement',
                validateCLT: 'True' === 'True',
                currentTemplateId:'#currentTemplate',
                model: {"commodityId":0,"subCommodityId":0,"displayMode":null,"shipmentModel":{"itemsModel":{"freightItems":null,"cltItems":[],"motoItems":[],"systemOfMeasurement":"Metric"},"selectedAccessorials":null,"pickupDate":null,"location":{"pickup":{"postalCode":null,"cityName":null,"provinceName":null,"countryCode":"IN","locationType":null,"provinceValue":null,"locationValidationAttempt":0,"addressType":null,"GPInfo":{"city":null,"state":null,"country":null,"streetName":null,"streetNumber":null,"lat":null,"lng":null,"formattedAddress":null}},"delivery":{"postalCode":null,"cityName":null,"provinceName":null,"countryCode":"IN","locationType":null,"provinceValue":null,"locationValidationAttempt":0,"addressType":null,"GPInfo":{"city":null,"state":null,"country":null,"streetName":null,"streetNumber":null,"lat":null,"lng":null,"formattedAddress":null}}}},"testData":null},
                isIframe: false,
                isLoggedIn: false,
                sessionId: 'iudr53muxuyh0bovswz2h3b4',
                userPreviousAddresses: [],
                lang: "en-IN",
                googleCountryCode:  "IN",
                isGooglePlacesEnabled: true,
                ltlCommodities: '[24,25,26,27,28,29,30,31,32,35,36,37,38,39,40,41,42,43,44,45,46,47,48,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,84,96,99,100,103,105,106,107,108,109,110,111,1750,1751,1752,1753,1754]',                
                easyRelistModal: '#easyRelistModal',
                userGeneratedId: '-1'
            });
            var appliedBindingsModal = false;
            if (steponeVM.displayMode !== 'modal' && steponeVM.displayMode !== 'steptwoform') {
                ko.applyBindings(steponeVM, document.getElementById('divStepOneForm'));
            } else {
                uship.events.attach('ShowStepOneModal', function () {
                    !appliedBindingsModal && ko.applyBindings(steponeVM, document.getElementById('divStepOneForm'));
                    appliedBindingsModal = true;
                });
            }

            
            
            //lets not show empty containers before ko bindings are done
            $('#divStepOneForm').show();

            
        root.uship.namespace('steponeform').extend({
            stepOneModel: steponeVM
        });
        })(jQuery, this);

    </script>

            <script>
            jQuery(function ($) {
                $.smartbanner({
                    title: uship.loc('UshipForAndroid'),
                    author: 'uShip, Inc.',
                    icon: '/public/images/touch/play-store-icon.png',
                    button: uship.loc('AndroidInstall'),
                    inGooglePlay: uship.loc('InGooglePlay'),
                    daysHidden: 21,
                    daysReminder: 0,
                    price: uship.loc('DefaultFree'),
                    scale: 'auto',
                    speedIn: 300,
                    speedOut: 400,
                    hideOnInstall: false
                });
            });
            </script>
        

<!-- analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount','UA-215948-1']);
_gaq.push(['_setDomainName','.uship.com']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_setCustomVar',1,'Category','']);
_gaq.push(['_setCustomVar',2,'Site','India']);
_gaq.push(['_trackPageview','']);
(function() {
var ga = document.createElement('script');
ga.type = 'text/javascript';
ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
})();
</script>



<!-- Bing US Event Tracking -->
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o=
{ti:"4021702"}
    ;o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function()
    {var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)}
,i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>


<!-- ***************Shipper Activated Listing Conversion Page -->





<!-- analytics -->

<!-- google AdWords -->
<script type="text/javascript">
/* <![CDATA[ */
    var google_conversion_id = '1013059819';
    var google_conversion_label = 'yb3GCOWUpAMQ66GI4wM';
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1013059819/?value=0&amp;label=yb3GCOWUpAMQ66GI4wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- google AdWords -->






    
    

<input type="hidden" id="hidPageLoaded" value="false" />


<script type="text/javascript" language="javascript" >
    uship.dom.events.attach(document, 'ready', function () {
        var element = $('hidPageLoaded');
        element.value = "true";
        //element.innerHTML = "true";
    });
    
    var header = $('hd');
    var banner = $('promobanners'); //or could hide any with .master-banner
    var footer = $('ftControl');
    if(window.location != window.parent.location){
        header.hide();
        footer.hide();
        if (banner != null) banner.hide();
    }

    (function($) {
        $('#aCloseSuccessBanner').click(function() {
            $('#successBanner').hide();
        });
    })(jQuery);

</script>
    
<script type="text/javascript">
    uship.dom.events.attach(document, 'ready', function() {
        jQuery(function ($) {
            var initializeMainDimensions = function() {
                iMD = {};
                iMD.isResponsive = 'true';
                iMD.main = $('.responsive-page .main');
                iMD.windowWidth = 0;
                iMD.windowHeight = 0;
                iMD.footer = $('.responsive-page #ft');
                iMD.footerHeight = 0;

                function init() {
                    if(iMD.isResponsive === 'true') {
                        iMD.resizeMain();

                        $(window).resize(function() {
                            iMD.resizeMain();
                        });   
                    }
                }
                
                iMD.getWindowWidth = function () {
                    return window.innerWidth || window.document.documentElement.clientWidth || window.document.body.clientWidth || 0;
                }

                iMD.getWindowHeight = function () {
                    return window.innerHeight || window.document.documentElement.clientHeight || window.document.body.clientHeight || 0;
                }

                iMD.resizeMain = function () {
                    iMD.windowWidth = iMD.getWindowWidth();
                    
                    if(iMD.main && iMD.footer && iMD.windowWidth < 768) {
                        iMD.windowHeight = iMD.getWindowHeight();
                        iMD.footerHeight = iMD.footer.height();
                        
                        if(iMD.footerHeight) {
                            var minHeight = iMD.windowHeight - iMD.footerHeight;
                            iMD.main.css('min-height', minHeight);
                        }
                        else if (iMD.windowHeight > 0) {
                            iMD.main.css('min-height', iMD.windowHeight);
                        }
                    }
                    else if (iMD.windowWidth > 767) {
                        iMD.main.css('min-height', '');
                    }
                }

                init();
                return iMD;
            }

            var mainDimensions = initializeMainDimensions();
        });
    });
</script>



        
    



    
     

<script>
if (typeof(__$1D0C) != "undefined") {{ __$1D0C.stack.push(["deferrerload"]); }}</script><script>
if (typeof(__$1D0C) != "undefined") {{ __$1D0C.stack.push(["slana", new Date(), "10000835", "GET", 450, "v4.19.1-492-aa9c63e", 4, 222953562, "47cc18bd0690fb6e8e7ceb7b655e01269991", 450, 0]);}}</script><script>
if (typeof(__$1D0C) != "undefined") {{ __$1D0C.stack.push(["preload", "/", "", "", "", "", "511d40abe33f56c4022fbb9f41ba224c5025", "4b68f5408d36d67c78ea09321ddf6214780", "auto"]); }}</script><script>
(function (w, d, sl, t, src) {sl.slhead = function (s) {sl.onload = new Date();var e = d.createElement("script"), tag = d.getElementsByTagName("script")[0];e.type = "text/javascript";e.async = true;e.src = s;tag.parentNode.insertBefore(e, tag);}
var fn = function () { sl.onload = new Date();setTimeout(function () { sl.slhead(src) }, 0);};if (w.addEventListener) { w.addEventListener(t, fn, (false)); } else if (w.attachEvent) { w.attachEvent("on" + t, fn); }} (window, document, __$1D0C, "load", "/slhead.js?Lo0P=5ba4b0a3788433c91223cd534930607220022"));</script></body>
</html>