.modalpanel {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  background: transparent url("/public/images/icons/info-blue-12x12.png") no-repeat center center;
  cursor: pointer;
}
.modalpanel-hover {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  cursor: pointer;
}
.modalpanel-container {
  display: none;
  position: absolute;
  z-index: 201;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 7px;
  -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  cursor: auto;
}
.modalpanel-container:before,
.modalpanel-container:after {
  border: solid transparent;
  position: absolute;
  width: 0;
  height: 0;
  content: " ";
}
.modalpanel-container:before {
  border-width: 9px;
}
.modalpanel-container:after {
  border-width: 8px;
}

.open-down .modalpanel-container {
  left: -15px;
  top: 29px;
}
.open-down .modalpanel-container:before,
.open-down .modalpanel-container:after {
  left: 28px;
  bottom: 100%;
}
.open-down .modalpanel-container:before {
  margin-left: -17px;
  border-bottom-color: #c1c1c1;
}
.open-down .modalpanel-container:after {
  margin-left: -16px;
  border-bottom-color: #fff;
}
.open-right .modalpanel-container {
  top: -15px;
  left: 29px;
}
.open-right .modalpanel-container:before,
.open-right .modalpanel-container:after {
  top: 26px;
  right: 100%;
}
.open-right .modalpanel-container:before {
  margin-top: -17px;
  border-right-color: #c1c1c1;
}
.open-right .modalpanel-container:after {
  margin-top: -16px;
  border-right-color: #fff;
}

.open-down-left .modalpanel-container {
  right: -15px;
  top: 29px;
}
.open-down-left .modalpanel-container:before,
.open-down-left .modalpanel-container:after {
  right: 28px;
  bottom: 100%;
}
.open-down-left .modalpanel-container:before {
  margin-right: -17px;
  border-bottom-color: #c1c1c1;
}
.open-down-left .modalpanel-container:after {
  margin-right: -16px;
  border-bottom-color: #fff;
}

.open-left .modalpanel-container {
  top: -15px;
  right: 29px;
}
.open-left .modalpanel-container:before,
.open-left .modalpanel-container:after {
  top: 26px;
  left: 100%;
}
.open-left .modalpanel-container:before {
  margin-top: -17px;
  border-left-color: #c1c1c1;
}
.open-left .modalpanel-container:after {
  margin-top: -16px;
  border-left-color: #fff;
}

.modalpanel-close {
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 7px;
  right: 7px;
  background-image: url('/public/images/icons/close_10x10.png');
  cursor: pointer;
}
.heading-paragraph-seperator {
    border-bottom: 2px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.modalpanel-hover .modalpanel-container {
    display: none;
}
.modalpanel-hover:hover .modalpanel-container {
    display: block;
}
.modalpanel-advertisement .modalpanel-container {
    padding: 10px 15px;
}


.more-info-icon:before{ 
  font-family: 'uship-icons';
  content: '\3f';
  margin-left: 5px;
  color: #333333;
  text-align: left;
}

.modal-panel-content{
  padding:5px 10px 5px 10px; 
  line-height: 20px; 
  white-space: nowrap;
  max-width: 260px; 
  word-wrap: break-word;
  width: 260px;
  text-align: left;
}