@charset "utf-8";
/* CSS Document */

@font-face {
   font-family: 'Arial Rounded';
   src:url('../font/ARLRDBD_0.TTF');
   src:url('../font/ARLRDBD_0.TTF') format('truetype'),
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Franklin Gothic';
   src:url('../font/FRADM_0.TTF');
   src:url('../font/FRADM_0.TTF') format('truetype'),
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Franklin Gothic Book';
   src:url('../font/FRABK_0.TTF');
   src:url('../font/FRABK_0.TTF') format('truetype'),
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Futura book';
   src:url('../font/avant/911Fonts.com_FuturaBook__-_911fonts.com-fonts-cj7o.ttf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Avantgarde';
   src:url('../font/avant/texgyreadventor-regular.otf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Avantgarde Demi';
   src:url('../font/avant/texgyreadventor-bold.otf');
   font-weight: normal;
   font-style: normal;
}

body{
	width:1970px;
	margin:0px auto;
}
.sub-header{
	height:180px;
	width:100%;
	background-color:white;
}
.sub-first{
	height:50px;
	width:69%;
	background-color:#eaeef1;
	float:left;
}
.second{
	height:48px;
	width:65%;
	background-color:#f9c231;
	float: right;
margin-top:-1px;
}
.sub-part-1{
	height:820px;
	width:100%;
	background-color:yellow;
	background-image:url(../cutouts/main%20bg%20truck.jpg);
	background-position:center;
}
.sub-part-2
{
	height:836px;
	width:100%;
	background-image:url(../cutouts/blue%20bg.jpg);
}
.sub-part-3{
	width:100%;
	height:600px;
	background-color:white;
}
#hed1{
	float: left;
padding: 13px;
border-right:1px solid #e1af2a;
font-family:"Franklin Gothic";
font-size:18px;
color:#2b3841;
}
.L1{
	height:190px;
	width:466px;
	background-color:#394b59;
	opacity:0.8;

}
.sub-L1{
	font-size:36px;
	color:white;
	text-transform: uppercase;
	padding:31px;
	font-family:"Franklin Gothic";
	padding-top:43px;
	}
.sub-B1{
	padding-top:18px;
	text-align:center;
	font-family:"Franklin Gothic";
	font-size:20px;
	color:#2b3841;
	
	
}
.B1{
		background-color:#f9c231;
	width:233px;
	height:62px;
}
.Logo-A{
	padding-top: 260px;
padding-left: 398px;
}
.select-part{
	width:1160px;
	height:100px;
	background-color:#FFF;
}
.B2{
	background-image:url(../cutouts/blue%20button%20(1).png);
	width:179px;
	height:40px;
	margin-left:-7px;
}
.sub-B2{
	color: white;
font-size: 14px;
padding: 6px;
}
.box1{
	height:45px;
	width:400px;
	background-color:#f1f4f9;
	float:left;
	margin-left:30px;
	margin-top:28px;
	color:#717b84;
}
.fro-loc{
	height:40px;
	width:243px;
	border:3px solid #1a6cb1;
	float:left;
	background-color: #F1F4F9;
}
.dest-loc{
		height:44px;
	width:290px;
		border:1px solid #dbdfe8;
		background-color: #F1F4F9;

}
.box2{
		height:44px;
	width:175px;
	background-color:#f1f4f9;
		border:1px solid #dbdfe8;
		float:left;
		margin-left:15px;
			margin-top:28px;
	color:#717b84;

	
}
.box3{
		height:45px;
	width:320px;
	background-color:#f1f4f9;
	float:left;
		margin-left:15px;
			margin-top:28px;
	color:#717b84;

}
.box4{
		height:45px;
	width:141px;
	background-color:#2d3740;
	float:left;
			margin-top:31.5px;
			font-size: 14px;
color: white;
	
	
}
#box4{
	color:white;
	font-family:"Franklin Gothic";
		padding: 15px 10px 10px 20px;
font-size: 15px;
}
#f-l,#d-l,#box2,#Em,#ph{
	padding: 11px 10px 10px 20px;
font-family: "Avantgarde";
font-weight:bold;
font-size: 16px;
color:#a2a2a2;
}
.Email{
		height:44px;
	width:220px;
	background-color:#f1f4f9;
		border:1px solid  #dbdfe8;
		float:left;


}
.phone-no{
			height:44px;
	width:190px;
	background-color:#f1f4f9;
		border:1px solid  #dbdfe8;
}
.Logo-B{
	    margin-top: 234px;
    position: relative;
    margin-left: 400px;
}

.mid1{
	width:360px;
	height:470px;
	background-color:white;
	float: left;
margin-left: 36px;
}
.img{
	width:360px;
	height:235px;
}
#h1{
	    font-size: 30px;
    font-weight: bold;
    font-family:"Franklin Gothic";
    padding-bottom: 25px;
    padding-top: 30px;
    color:#2b3841;
	text-align:center;
	}
#h2{
	padding-bottom:25px;
	width:95%;
		font-family:"Franklin Gothic Book";
color: #949EA7;
font-size: 14.2px;
line-height: 21px;	
}
#E2{
	color: rgb(148, 158, 167);
}
#E3{
			font-family:"Arial Rounded";
color:#2b3841;
font-size: 12px;
line-height: 24px;
}
#pi{
	width:420px;
}
#h3{
	    font-size: 14px;
    color:#2b3841;
	float: left;
margin-right: 10px;
			font-family:"Arial Rounded";

}
#pd{
	  font-size: 14px;
    color: rgb(66, 66, 66);
}
.name{
	padding-left:30px;
	
	
}
.mid{
	
	margin-top: 40px;
margin-left: 370px;
}
.Text{
	padding-top:130px;
	padding-left:400px;
}
.Tx1{
	color:#e7dddd;
font-size: 13px;
margin-bottom: 5px;
	font-family:"Franklin Gothic";

}
.Tx2{
	font-size: 36px;
	font-family:"Franklin Gothic";
font-weight: bold;
color: white;
	
}
.rect1{
	height:150px;
	width:360px;
	border:1px solid #ccc;
	float: left;
margin: 18px;
box-shadow: -1px 3px 13px -8px;
}
.section1{
	height:450px;
	width:347px;
	float:left;
margin-left: 400px;
margin-top:37px;
}
.section2{
	margin-left:786px;
	margin-top:30px;
	width:850px;
}
.Tx-1{
	font-size: 13px;
color: rgb(98, 83, 83);
padding-bottom: 15px;
	font-family:"Franklin Gothic";


}
.Tx-2{
	font-size: 32px;
font-weight: bold;
color:#3f3d3d;
padding-bottom:10px;
width:358px;
	font-family:"Franklin Gothic";

}
.Tx-3{
	color: #949ea7;
padding-bottom: 35px;
width:360px;
		font-family:"Franklin Gothic Book";

}
.sub-part-4{
	height:700px;
	width:100%;
}
.base1{
	height:100%;
	width:560px;
	float:left;
	margin-top:50px;
	margin-left: 378px;
}
.base-top{
	height:435px;
	background-color:#39464f;
	margin-left:941px
}
#btn-req{
	background-image:url(../cutouts/new%20blue%20strip.jpg);
	background-repeat:no-repeat;
	width:230px;
	height:50px;
	float:left;
}
#req{
	color:white;
	padding-top: 12px;
padding-left: 11px;
	font-family:"Franklin Gothic";
	font-size:17px;

}
.kid1{
	width:360px;
	height:470px;
	background-color:white;
	float: left;
margin-left: 37px;
border: 1px solid #ccc;
box-shadow: -1px 3px 13px -8px;
}
.sub-part-5{
	height:1300px;
	width:100%;
}
#E1,#E2,#E3{
	float:left;
	padding-left:10px;
}
#email{
	float:left;
	padding: 14px;
margin-left: 397px;
}
#fb,#tw,#gle{
	float:left;
	border-left: 1px solid #cdd4dc;
}
#gle{
	padding-top:1px;
}
#fb{
	margin-left: 542px;
	padding-left:4px;
}
#tw{
	padding-left:2px;
}
#part{
	float:left;
}
.main-logo{
	float:left;
	margin-left:406px;
}
#pic,#txt-pic,#number{
	float:left;
	padding-top:0px;
}
#pic{
	margin-left:511px;
	padding-right:10px;
	padding-top:13px;
}
#txt-pic{
	width: 104px;
line-height:15px;
text-transform:uppercase;
font-size:11px;
font-family:"Franklin Gothic";
color:#2b3841;
padding-top:18px;
}
#number{
	line-height:30px;
	font-size:25px;
	font-family:"Franklin Gothic";
	font-size:30px;
	color:#2b3841;
margin-top:26px;
border-left: 1px solid #cdd4dc;
padding-left: 25px;

}
#hed{
	float: left;
margin-left: -122px;
}
#img{
	float:left;
	padding-top: 35px;
padding-left: 30px;
padding-right:15px;
}
#txt1{
	padding-top: 45px;
		font-family:"Franklin Gothic";
font-size: 20px;
color: #2b3841;
padding-bottom:10px;
	
}
#txt2{
	font-size:12px;
	color:#949ea7;
			font-family:"Arial Rounded";

}
#Z0{
	margin-left:106px;
}
#Z1{
	padding-top:80px;
	font-size: 12px;
padding-bottom: 25px;
color: #959ea7;
			font-family:"Arial Rounded";

}
#Z2{
font-size: 30px;
padding-bottom: 10px;
color: white;
font-family:'Avantgarde Demi';

}
#Z3{
text-transform: uppercase;
font-size: 12px;
color: #959ea7;
width: 512px;
line-height: 22px;
font-family:"Arial Rounded";

}
#jet1{
	margin-top: -80px;
margin-left: 1036px;
}
#tp1{
	margin-left: 1050px;
padding-top: 15px;
padding-bottom: 10px;
font-size:20px;
		font-family:"Franklin Gothic";
		color: #3f3d3d;
font-weight: bold;

}
#tp2{
	font-size:13px;
		margin-left: 1050px;
color: #949ea7;
			font-family:"Arial Rounded";

}
.pogo2{
	padding-top: 106px;
padding-left: 20px;
}
.img1{
	float: right;
margin-top: -47px;
position: relative;
}
.part-4{
}
.sub-square{
	margin-left:362px;
}
.btn-1{
	padding-top: 500px;
float: left;
margin-left: -224px;
}
.sub-bottom1{
	width:100%;
	height:110px;
	background-color:#f9c231;
}
.remo{
	height:310px;
	width:555px;
	border:1px solid #ccc;
	float: left;
margin-left: 40px;
box-shadow: -1px 3px 13px -8px;
}
.sub-master{
	margin-left:356px;
}
.top-text{
	text-align:center;
	padding-bottom:40px;
	padding-top:30px;
	margin-left: -29px;
}
.top-text1{
	padding-bottom:40px;
	text-align:center;
}
.go1{
}
#arrow{
	float: right;
margin-right: 12px;
margin-top: -20px;
}
#Tp1{
	font-size: 15px;
color: rgb(57, 70, 79);
padding-bottom: 10px;
		font-family:"Franklin Gothic";

}
#Tp2{
	font-size: 32px;
color: rgb(44, 53, 62);
font-weight: bold;
		font-family:"Franklin Gothic";
}
.btn-2{
	padding-top: 346px;
float: left;
margin-left: -224px;
}
#Tp3{
}
#Z10{
	font-size: 16px;
padding-bottom: 40px;
		font-family:"Franklin Gothic Book";
		line-height:30px;
		color:#666;
		padding-right:25px;

}
#Z20{
	padding-bottom:3px;
			font-family:"Franklin Gothic";
			color:#2c353e;

}
#Z30{
			font-family:"Franklin Gothic";
color:#949ea7;
}
.Z100{
	margin-left: 40px;
margin-top: 40px;
}
#point{
	padding-top: 346px;
float: left;
margin-left: -616px;
}
.line{
	margin-left: 400px;
padding-top: 40px;
float:left;
}
.bottom-btn{
	width: 180px;
float: left;
margin-left: 95px;
padding-top: 40px;
}
.sub-bottom2{
	height:472px;
	width:100%;
	background-color:#39464f;
}
#line-1{
	font-size: 18px;
text-transform: uppercase;
font-weight: bold;
			font-family:"Arial Rounded";
			color:#2c353e;
			padding-bottom:8px;
}
#line-2{
				font-family:"Franklin Gothic Book";
				color: #D13030;
}
.para1{
	float:left;
	width:165px;
	height:240px;
	margin-right:32px;
	
}
#A0{
	font-size: 20px;
color: white;
padding-bottom: 10px;
			font-family:"Arial Rounded";
font-weight: bold;

}
#A1,#A2,#A3,#A4{
	font-size: 12px;
color: rgb(149, 158, 167);
padding-bottom: 18px;
border-bottom: 1px solid;
padding-top: 18px;
			font-family:"Arial Rounded";

}
#B2{
	color:white;
	padding-bottom: 112px;
padding-top: 14px;
font-family:"Franklin Gothic";
}
.para{
	margin-left: 400px;
padding-top: 85px;
}
.para2{
	margin-left: 1185px;
}
#pk1{
	padding-top:98px;
}
#C3{
	width: 360px;
height: 47px;
background-color: #5C5C60;
color: white;
}
#tap{
	float: right;
margin-top: -47px;
}
#mail{
	    line-height: 48px;
    padding-left: 15px;
	color:#959ea7;
}
#C2{
	padding-bottom:40px;
	width:392px;
					font-family:"Franklin Gothic";
					color:#959ea7;

				

}
#sub-X2{
	    width: 52%;
    height: 50px;
    background-color: #2d3740;
    margin-top: -31px;
    margin-left: 945px;
}
.X1{
	margin-top: 132px;
width: 315px;
color:#959ea7;
padding-left:395px;

}
#xolo1{
	float: left;
padding: 15px;
color:#959ea7;
padding-right:28px;
}
#B4{
	width:200px;
}
#G1{
   font-size: 18px;
    font-weight: bold;
			font-family:"Arial Rounded";

    padding-bottom: 25px;
    padding-top: 30px;
    color:#2c353e;
	margin-right:36px;
width:300px;
}
b1,b2{
	color:#959ea7;
	font-size:13px;
	padding-left:10px;
}
#B3,#B4{
	color:white;
    font-family:"Franklin Gothic";
		font-size:13px;

	
}
#banner{
	float: left;
margin-top: -21px;
margin-left: -31px;
}
.xolo1{
	margin-left:-120px;
}
.under{
	height: 1px;
width: 35px;
background-color: #FFF;
margin-top: 10px;
}
.under1{
	height: 1px;
width: 35px;
background-color: #AB7070;
margin-top: 10px;
margin-bottom:110px;
}
.under2{
		height: 1px;
width: 35px;
background-color: #AB7070;
margin-top: 10px;
margin-bottom:15px;
}
.under3{
		height: 1px;
width: 35px;
background-color: red;
margin-top: 10px;
margin-bottom:45px;
}
.button{
margin-top: 535px;
margin-left: 1334px;
}
#B3{
	padding-bottom:5px;
}
.bx1{
	float:left;
}
.bx{
	padding-left:32px;
}
.fig1{
	padding-bottom: 5px;
padding-top: 6.5px;
font-family:"Futura Book";
font-weight: bold;
color: #2b3841;
font-weight: bold;
color: #2B3841;
font-size: 15px;
}