
@charset "utf-8";
/* CSS Document */
.mainbox
{
margin: 0px 5px;	
background-color: #F7F8F8;
text-align: center;
border: 1px solid #EAECED;
height: 525px;
width:294px;
float:left;
}
.box1
{
	    text-align: center;
		width:284px;

}
.data
{
	    line-height: 1.2;
    margin: 9px 0px 11px;
}
}
.name1{
	font-weight: bold;
text-transform: uppercase;
}
.source
{
	    color: #737373;
    line-height: inherit;
    text-decoration: none;
}
.pic
{
	margin: 20px auto auto;
width: 50px;
position: relative;
}
.box2
{
	width: 220px;
height: 220px;
margin: auto;
white-space: nowrap;
cursor: pointer;
}
.box2 img{
	max-height: 220px;
max-width: 220px;
vertical-align: middle;
}
.box3
{
	max-width: 250px;
margin: 12px auto 7px;
font-size: 14px;
line-height: 16px;
font-weight: 500;
text-transform: uppercase;
color: #5F6062;
}
.btn
{
	font-size: 12px;
line-height: inherit;
text-transform: initial;
background-color: #F5684D;
padding: 2px 10px;
color: #FFF;
-moz-appearance: none;
border-radius: 0px;
border-style: solid;
border-width: 0px;
cursor: pointer;
font-family: "Raleway",sans-serif;
font-weight: normal;
margin: 0px;
position: relative;
text-align: center;
text-decoration: none;
display: inline-block;
border-color: #5C5C5C;
transition: background-color 300ms ease-out 0s;
}
.box4
{margin: 10px 25px 18px 8px;
overflow: hidden;
font-size: 14px;
position: relative;
text-align: left;
color: #555;
font-family: georgia;
font-style: italic;
padding-left: 18px;
}
.box4::before
{
	position: absolute;
left: 0px;
top: 4px;
content: "“";
color: #786B58;
font-family: georgia-bold;
font-size: 26px;
line-height: 17px;
}
#testicarousel
{
	height:525px;
}

