.html, body {
  height: 100%; }
 
body {
  -webkit-font-smoothing: antialiased; }
 
@media only screen and (max-width: 767px) {
	.responsive-page body {
        line-height: 1.5em;
        font-size: 14px !important;
        direction: ltr;
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    }
}
.main {
  min-height: 100%;
  padding-bottom: 326px; }
  
  @media only screen and (max-width: 767px) {
	.responsive-page .main {
        padding-bottom: 5px; } }

.footer-simple-enabled .main {
	padding-bottom: 83px;
}

.mobileapp .main {
    padding-bottom: 0px;
}

/*** HEADER ***/  
.commercial-banner {  
    display:block;
    width:100%;
    height:60px;
    background-image:url('/public/images/promo/commercial/commercial-hp-banner-960x60.jpg');
    background-position:center top;
    background-color:#020202;
    background-repeat:no-repeat;
}

/*** HEADER ***/  
.truckstop-banner {  
    display:block;
    width:100%;
    height:110px;
    background-image:url('/public/images/promo/truckstop/truckstop-hp-banner-960x60.png');
    background-position:center top;
    background-color:#1E2A38;
    background-repeat:no-repeat;
    border-bottom: 1px solid #555;
}

.ebay-banner {
    display:block;
    width:100%;
    height:60px;
    background-image:url('/public/images/promo/ebay-banner.jpg');
    background-position:center top;
    background-color:#020202;
    background-repeat:no-repeat; 
}


/** beta banner had been repurposed to inform visitors that we do not support their native currency **/
.hd-beta-banner {
  height: auto;
  line-height: 20px;
  margin: 0 auto 10px auto;
  padding-bottom: 2px;
  text-align: center;
  width: 942px; }

.hd-beta-banner a {
  text-decoration: underline; }

.swbanner {
  height: 60px;
  margin-bottom: 0px;
  background: url("/public/images/promo/shippingwars/season2/swbanner-bg2.png") repeat-x; }

@media screen and (max-width: 959px) {
    .responsive-page .master-banner { display:none; }
}

.swbanner-inner {
  position: relative;
  width: 960px;
  height: 60px;
  margin: 0 auto;
  background: url("/public/images/promo/shippingwars/season3/sw-hp-banner-9PM-960x60.jpg") no-repeat; }

a.swbanner-ushiplink-left {
  height: 60px;
  position: absolute;
  width: 285px; }

a.swbanner-aelink-center {
  height: 60px;
  left: 285px;
  position: absolute;
  width: 525px; }

a.swbanner-ushiplink-right {
  height: 60px;
  position: absolute;
  right: 0;
  width: 150px; }

.sandybanner {
  height: 60px;
  margin-bottom: 0px;
  /*background: url('/public/images/promo/shippingwars/season2/sandybanner-bg2.png') repeat-x;*/ }

.sandybanner-inner {
  position: relative;
  width: 960px;
  height: 60px;
  margin: 0 auto;
  background: url("/public/images/promo/sandy/sandybanner.jpg") no-repeat; }

a.sandybanner-ushiplink-left {
  height: 60px;
  position: absolute;
  width: 290px; }

a.sandybanner-ushiplink-right {
  height: 60px;
  position: absolute;
  right: 0;
  width: 670px; }

.headerBanner {
  border-style: solid;
  border-width: 1px 0;
}
.headerBanner-detached {
  margin: 1em 0;
}
.headerBanner-inner {
  position:relative;
  max-width: 960px;
  margin: 0 auto;
}
.headerBanner-inner-text {
  padding: 9px 10px 9px 10px;
  font-size: 13px;
  font-weight: bold;
  vertical-align:middle;
}
.headerBanner-inner-text:before {
  font-family: 'uship-icons';
  font-weight: normal;
}
.headerBanner-close {
  font-family: 'uship-icons';
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.headerBanner-close:before {
  content: '\78';
}
.headerBanner-close:hover {
  text-decoration: none;
}

.headerSuccessBanner {
  background-color: #357017;
  border-color: #2e6412;
}
.headerSuccessBanner-inner-text {
  color: #ffffff;
}
.headerSuccessBanner-inner-text:before {
  content: '\31';
}
.headerSuccessBanner-close {
  color: #23520a;
}

.headerWarningBanner {
  background-color: #fcd903;
  border-color: #f7d724;
}
.headerWarningBanner-inner-text {
  color: #333;
}
.headerWarningBanner-inner-text:before {
  content: '\23';
}
.headerWarningBanner-close {
  color: #8a7701;
} 

#hd {
  height: 64px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 8px;
  background-color: #EEEEEE;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  z-index: 990;
  *zoom: 1; }
.responsive-page #hd {
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

.hd-inner {
  position: relative;
  background: transparent;
  width: 960px;
  margin: 0 auto;
  padding: 0 7px;
  z-index: 990;
  *zoom: 1; }
.responsive-page .hd-inner {
  width: 100%;
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;}
.hd-logo, .hd-logo-walled {
  display: block;
  width: 68px;
  height: 44px; }
.hd-logo-walled {
	height: auto;
	padding-top: 4px;
	position: absolute;
	right: 0;
	width: auto;
	padding-left: 15px;
}
a.hd-logo {
    padding: 10px;
}
  @media only screen and (max-width: 767px) {
	.responsive-page .hd-logo {
		background-size:58px 37px;
		margin: 0 auto; }
	.responsive-page .hd-logo-walled {
		left: auto;
		right: 2%; }
  }

.hd-whois {
  position: absolute;
  /* top: 27px; */
  bottom: 14px;
  right: 7px;
  font-size: 11px;
  text-align: right; }

.hd-whois-logged-in-user {
  font-weight: bold;
  color: #414042; }

.hd-alert-center strong {
  color: #414042;
  font-weight: bold; }

.hd-nav {
  position: absolute;
  top: 0px;
  left: 92px;
  height: 56px; }

.hd-nav li {
  float: left;
  height: 56px; }

.hd-nav li a {
  display: block;
  height: 30px;
  _width: 1px;
  /* ie6 */
  _white-space: nowrap;
  /* ie6 */
  padding-top: 26px;
  background: url("/public/images/elements/header/nav_arrow.png") no-repeat right 30px;
  color: #414042;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px; }

.ie6 .hd-nav li a {
  background-image: none; }

.hd-nav .hd-nav-noArrow a {
  background-image: none; }

.hd-nav li a .hd-nav-item-outer-wrapper {
  height: 30px; }

.hd-nav li a .hd-nav-item-inner-wrapper {
  height: 30px;
  padding: 0 33px 0 15px; }

.hd-nav li.hd-nav-item-hover {
  background: url("/public/images/elements/header/masthead_nav_toplevel_hover_2.png") no-repeat left bottom; }

.hd-nav li.hd-nav-item-hover a {
  height: 44px;
  padding-top: 12px;
  color: #fff;
  background: url("/public/images/elements/header/masthead_nav_toplevel_hover_right_2.png") no-repeat right bottom; }

.hd-nav li.hd-nav-item-hover a .hd-nav-item-outer-wrapper {
  height: 44px;
  background: url("/public/images/elements/header/nav_arrow_hover.png") no-repeat right 18px;
  /* tl bg */ }

.ie6 .hd-nav li.hd-nav-item-hover a .hd-nav-item-outer-wrapper {
  background-image: none; }

.hd-nav li.hd-nav-item-hover a .hd-nav-item-inner-wrapper {
  height: 30px;
  padding-top: 14px;
  /* tr bg */ }

.hd-menu-target {
  padding-right: 10px;
  background: url("/sticky/images/multi_arrow.gif") no-repeat right center; }

.hd-menu {
  min-width: 120px;
  border: 1px solid #C6C8CA;
  background-color: #fff;
  white-space: nowrap; }

.hd-menu-item {
  padding: 2px 5px;
  white-space: nowrap; }

.hd-menu-item-sitelink {
  position: relative;
  padding-right: 30px; }

.ie7 .hd-menu-item-sitelink {
  z-index: 1000; }

.hd-menu-sitelink {
  display: block;
  position: absolute;
  right: 6px;
  top: 2px; }

.hd-menu-sitelink-img {
  background: transparent url("/public/images/countryflags/flag_sprite.png") no-repeat right -133px; }

.hd-menu-sitelink-img-1 {
  background-position: right -95px; }

.hd-menu-sitelink-img-2 {
  background-position: right -209px; }

.hd-menu-sitelink-img-3 {
  background-position: right -38px; }

.hd-menu-sitelink-img-4 {
  background-position: right -171px; }

.hd-menu-sitelink-img-6 {
  background-position: right -114px; }

.hd-menu-sitelink-img-5 {
  background-position: right 0; }

.hd-menu-sitelink-img-8 {
  background-position: right -190px; }

.hd-menu-sitelink-img-9 {
  background-position: right -152px; }

.hd-menu-sitelink-img-10 {
  background-position: right -57px; }

.hd-menu-sitelink-img-11 {
  background-position: right -19px; }

.hd-menu-sitelink-img-14 {
  background-position: right -228px; }

.hd-menu-sitelink-img-15 {
  background-position: right -363px; }

.hd-menu-sitelink-img-19 {
  background-position: right -76px; }

.hd-menu-sitelink-img-21 {
  background-position: right -247px; }

.hd-menu-sitelink-img-22 {
  background-position: right -266px; }

.hd-menu-sitelink-img-23 {
  background-position: right -285px; }

.hd-menu-sitelink-img-26 {
  background-position: right -323px; }

.hd-menu-sitelink-img-27 {
  background-position: right -304px; }

.hd-menu-sitelink-img-28 {
  background-position: right -342px; }

/* new nav */
.hd-show-navigation {
  position: absolute;
  right: 5px;
  top: 13px;
  display: none; }

.hd-navigation-actions {
  position: absolute;
  right: 0;
  top: 0; }
.responsive-page .hd-navigation-actions {
    right 2%; }

	@media screen and (max-width: 520px) {
	  .responsive-page .hd-navigation-actions {
		display: none;
	  }
	}
	
.hd-navigation {
  position: absolute;
  left: 92px;
  top: 0;
  padding-left: 14px; }

.hd-navigation-li {
  float: left;
  cursor: pointer;
  *zoom: 1; }

.hd-navigation-item {
  padding: 24px 8px 0 8px;
  height: 40px;
  display: block;
  position: relative;
  font-size: 14px;
  color: #333333; }
	@media screen and (max-width: 767px) {
	  .responsive-page .hd-navigation-item {
		padding: 22px 4px 0 4px; }
	  .responsive-page .hd-navigation-item.hd-navigation-support {
		display:none; }
	}
	
.hd-navigation-item:hover {
  text-decoration: none;
  color: #1A63A3;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: -ms-linear-gradient(top, white, #eeeeee);
  background-repeat: repeat-x; }

.ie7 .hd-navigation-item:hover {
  background-color: #f6f6f6; }

.hd-navigation-item:hover .hd-navigation-tab-arrow {
  filter: alpha(opacity=100);
  opacity: 1.0; }

.hd-navigation-icon {
  margin-right: 4px;
  height: 16px;
  width: 16px;
  background: url("/public/images/icons/myuship-sprites.png") no-repeat left top; }

.hd-navigation-tab-arrow {
  margin: 0 0 0 -1px;
  width: 11px;
  height: 4px;
  background-position: -34px -6px !important;
  position: relative;
  top: -2px;
  filter: alpha(opacity=50);
  opacity: 0.5; }

.hd-navigation-subaccount .hd-navigation-icon {
  background-position: -480px 0; }

.hd-navigation-subaccount:hover .hd-navigation-icon {
  background-position: -496px 0; }

.hd-navigation-subaccounts .hd-navigation-icon {
  background-position: -480px 0; }

.hd-navigation-subaccounts:hover .hd-navigation-icon {
  background-position: -496px 0; }

.hd-navigation-watched .hd-navigation-icon {
  background-position: -512px 0; }

.hd-navigation-watched:hover .hd-navigation-icon {
  background-position: -528px 0; }

.hd-navigation-booked .hd-navigation-icon,
.hd-navigation-loads-icon {
  background-position: -160px 0; }

.hd-navigation-booked:hover .hd-navigation-icon,
.hd-navigation-menu-link:hover .hd-navigation-loads-icon {
  background-position: -176px 0; }

.hd-navigation-find .hd-navigation-icon,
.hd-navigation-findLoadsOverview-icon {
  background-position: -224px 0;
  margin-right: 0; }

.hd-navigation-find:hover .hd-navigation-icon,
.hd-navigation-menu-link:hover .hd-navigation-findLoadsOverview-icon {
  background-position: -240px 0; }

.webkit .hd-navigation-find .hd-navigation-icon {
  position: relative;
  top: -1px; }

.ie8 .hd-navigation-find .hd-navigation-icon,
.ie9 .hd-navigation-find .hd-navigation-icon {
  position: relative;
  top: -2px; }

.webkit .hd-navigation-find .hd-navigation-tab-arrow {
  top: -2px; }

.hd-navigation-support .hd-navigation-icon {
  background-position: -448px 0; }

.hd-navigation-support:hover .hd-navigation-icon {
  background-position: -464px 0; }

/* some of the profile menu hovers are handled above
   the rest will be defined here
*/
.hd-navigation-menu-link .hd-navigation-icon {
  position: relative;
  top: 2px;
  margin-right: 5px; }

.hd-navigation-dashboard-icon {
  background-position: -64px 0; }

.hd-navigation-menu-link:hover .hd-navigation-dashboard-icon {
  background-position: -80px 0; }

.hd-navigation-inbox-icon {
  background-position: -96px 0; }

.hd-navigation-menu-link:hover .hd-navigation-inbox-icon {
  background-position: -112px 0; }

.hd-navigation-bids-icon {
  background-position: -128px 0; }

.hd-navigation-menu-link:hover .hd-navigation-bids-icon {
  background-position: -144px 0; }

.hd-navigation-network-icon {
  background-position: -192px 0; }

.hd-navigation-menu-link:hover .hd-navigation-network-icon {
  background-position: -208px 0; }

.hd-navigation-payments-icon {
  background-position: -256px 0; }

.hd-navigation-menu-link:hover .hd-navigation-payments-icon {
  background-position: -272px 0; }

.hd-navigation-tools-icon {
  background-position: -288px 0; }

.hd-navigation-menu-link:hover .hd-navigation-tools-icon {
  background-position: -304px 0; }

.hd-navigation-settings-icon {
  background-position: -320px 0; }

.hd-navigation-menu-link:hover .hd-navigation-settings-icon {
  background-position: -336px 0; }

.hd-navigation-affiliate-icon {
  background-position: -352px 0; }

.hd-navigation-menu-link:hover .hd-navigation-affiliate-icon {
  background-position: -368px 0; }

/* giving these guys a margin so i can space their counts correctly */
.hd-navigation-booked .hd-navigation-icon,
.hd-navigation-watched .hd-navigation-icon {
  margin-right: 10px; }

.hd-navigation-tab-count {
  background: #fafafa;
  border: 1px solid #1A63A3;
  color: #1A63A3;
  font-weight: normal;
  height: 14px;
  font-size: 11px;
  line-height: 14px;
  min-width: 14px;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  left: 17px;
  top: 15px;
  padding: 0 2px; }

.hd-navigation-menu-item .hd-navigation-tab-count {
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  margin: -12px 16px 0;
  min-width: 14px;
  padding: 2px 5px;
  left: auto;
  right: 0;
  top: 50%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.hd-navigation-list .hd-navigation-menu-item .hd-navigation-tab-count {
  margin-right: 10px; }

.hd-navigation-arrow-wrapper {
  position: absolute;
  bottom: -5px;
  left: 0;
  text-align: center;
  width: 100%; }

.webkit .hd-navigation-arrow-wrapper {
  bottom: -6px; }

.ie7 .hd-navigation-find .hd-navigation-arrow-wrapper {
  bottom: -4px; }

.hd-navigation-emph {
  color: #414042;
  font-weight: bold; }

.hd-navigation-hover:hover {
  color: #1A63A3;
  text-decoration: none;
  transition: color 0.3s ease-in 0s;
  -moz-transition: color 0.3s ease-in 0s;
  -webkit-transition: color 0.3s ease-in 0s;
  -o-transition: color 0.3s ease-in 0s; }

.hd-navigation-upper {
  text-transform: capitalize; }

.hd-navigation-flag {
  height: 11px;
  width: 16px; }

.hd-navigation-prof-pic {
  float: left;
  margin: -6px 11px 0 0;
  padding-right: 4px; }

/* menu styles */
.hd-navigation-menus {
  z-index: 1001; }

.hd-navigation-menu {
  border: 1px solid #D9D9D9;
  min-width: 170px;
  z-index: 1002;
  position: absolute;
  background-color: #FAFAFA;
  top: 64px;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px; }

.hd-navigation-menu .hd-menu-item-sitelink {
  border-bottom: 1px solid #d9d9d9; }

.hd-navigation-menu .hd-menu-sitelink {
  top: 6px; }

.hd-navigation-menu-link,
.hd-navigation-menu-header {
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  display: block;
  font-size: 14px;
  text-decoration: none;
  background-color: #f5f5f5;
  line-height: 28px; }

.hd-navigation-menu-link:hover {
  color: #1A63A3;
  background-color: #fcfcfc; }

.hd-navigation-menu a:last-child {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-bottom: 0; }

.hd-navigation-menu-item {
  padding: 5px 10px;
  position: relative;
  white-space: nowrap; }

.hd-navigation-menu-withcounts .hd-navigation-menu-item {
  padding-right: 40px; }

.hd-navigation-menu-withicons .hd-navigation-menu-item {
 display: inline;
 line-height: 38px;
  padding: 0 0 0 52px; }

.hd-navigation-list .hd-navigation-menu-last {
  text-align: center; }

.hd-navigation-menu-last {
  border-bottom: 0;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px; }

.hd-navigation-menu-title {
  font-weight: bold;
  position: relative;
  border-bottom: 1px solid #d9d9d9; }

.hd-navigation-w-count {
  padding-right: 30px; }

.hd-navigation-count {
  position: absolute;
  right: 8px; }

.hd-navigation-nocontent {
  text-align: center;
  color: #666;
  padding: 40px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #d9d9d9; }

.hd-navigation-global-link {
  border-bottom: #D9D9D9 1px solid;
  padding: 5px 25px 5px 0; }

/* watched/booked shipment styles */
.hd-navigation-shipment {
  display: block;
  padding: 10px;
  font-size: 13px;
  background-color: #f5f5f5;
  color: #333333;
  border-bottom: 1px solid #d9d9d9; }

.hd-navigation-shipment:hover {
  color: #1A63A3;
  background-color: #fcfcfc;
  text-decoration: none; }

.hd-navigation-shipment-title {
  display: block;
  font-weight: bold; }

.hd-navigation-shipment-img {
  position: absolute;
  height: 53px;
  width: 53px; }

.hd-navigation-shipment-details {
  padding-left: 63px;
  position: relative; }

.hd-navigation-shipment-details-left,
.hd-navigation-shipment-details-right {
  display: inline-block; }

.hd-navigation-shipment-details-left {
  padding-right: 60px;
}

.hd-navigation-list-watched .hd-navigation-shipment-details-left {
  padding-right: 150px;
}

.hd-navigation-shipment-origin,
.hd-navigation-shipment-destination {
  color: #666666;
}

.hd-navigation-shipment-details-right {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  vertical-align: top; }

.hd-navigation-shipment-pricing {
  font-weight: bold;
}

.hd-navigation-shipment-expiring {
  padding-right: 12px;
  font-weight: bold;
  color: #942024;
  background: transparent url("/sticky/public/images/icons/ending_9x9.png") no-repeat right 4px; }

/* style overrides for the my uship nav used in the header */
.hd-navigation-menu .myuship-nav-topLink {
  width: auto; }

#hd .myuship-nav-container {
  border-bottom: 0; }

#hd .myuship-nav-topLink {
  border-top: 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
  min-width: 134px;
  padding: 9px 96px 8px 52px; }

#hd .myuship-nav-topLink:hover .myuship-nav-tally {
  display: block; }

#hd .myuship-nav-toggleButton {
  border: 0; }

#hd .myuship-nav-topLink:hover .myuship-nav-tally-empty,
.hd-navigation-menu .myuship-nav-toggle,
.hd-navigation-menu .myuship-nav-toggleImage,
.hd-navigation-menu .myuship-nav-submenu,
.hd-navigation-menu .myuship-nav-watch-tally,
#hd .myuship-nav-topLink:hover .myuship-nav-watch-tally {
  display: none; }

/*** BODY ***/
#bd {
  width: 960px;
  min-height: 400px;
  margin: 0 auto;
  padding: 0 7px;
  position: relative; 
}

.responsive-page #bd {
    box-sizing: border-box;
    width: auto;
    max-width: 960px;
    min-width: 320px;
    padding: 0;
}

.ie6 #bd {
  height: 400px; 
}

  
/*** FOOTER ***/
#ft {
  clear: both;
  margin-top: -326px;
  min-height: 326px;
  z-index: 1000;
  padding-top: 70px; }

.footer-simple-enabled #ft {
  margin-top: -83px;
  height: 83px;
  min-height: 83px; }

.ft-links {
  margin-top: 5px; }

.ft-links-link {
  float: left;
  display: block;
  padding: 0 10px;
  margin: 4px 0;
  border-right: 1px solid black;
  font-weight: bold; }

.ft-links-link-first {
  padding-left: 0; }

.ft-links-link-last {
  border-right: 0;
  border-left: 1px solid black; }

.ft-trust {
  margin-bottom: 10px;
  padding: 0 10px;
  /* 10px 10px 0 10px */
  font-size: 10px;
  line-height: 17px; }

.ie7 .ft-trust {
  padding-top: 15px; }

.trust-legal {
  padding-top: 10px; }

.ft-trust-icons {
  float: right;
  margin-left: 30px; }

.ft-trust-icons-icon {
  float: left;
  margin-left: 10px;
  padding-top: 10px; }

.locale-de-DE .ft-trust-icons-icon-truste {
  margin-top: 13px; }

.locale-de-DE .ft-trust-icons-icon-myclimate {
  margin-top: 5px; }

.ft-local {
  margin-bottom: 10px;
  padding: 0 10px;
  color: #808285;
  font-size: 11px; }

.ft-local a {
  color: #808285; }

.ft-local a:hover {
  color: #00f; }

.ft-local-type {
  color: #414042;
  font-weight: bold; }

.analytics-iframe-container {
  position: absolute;
}

.navmenu {
  display: none;
  width: 760px;
  min-height: 100px;
  padding: 15px 0;
  border: 3px solid #5d5d5d;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 8px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 8px 10px;
  z-index: 100; }

.ie6 .navmenu {
  height: 100px;
  /* acts like min-height */ }

.navmenu-compact {
  width: 540px; }

.navmenu-h,
.navmenu-description {
  color: #3c698e;
  font-weight: bold; }

.navmenu-link {
  display: block;
  margin: 4px 0; }

.navmenu-divider {
  clear: both;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-top: 2px solid #b9bbbc; }

.navmenu-bucket {
  min-height: 157px;
  /* old height: 132px */
  background: url("/public/images/elements/bgs/column_separator_dashed.gif") repeat-y 100% 0; }

.ie6 .navmenu-bucket {
  height: 174px;
  /* acts like min-height */ }

.navmenu-bucket-last {
  background-image: none; }

.navmenu-tall .navmenu-bucket {
  min-height: 174px; }

.ie6 .navmenu-tall .navmenu-bucket {
  height: 174px;
  /* acts like min-height */ }

.navmenu-socialmedia-link {
  float: left;
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-repeat: no-repeat; }

.navmenu-socialmedia-link-facebook {
  background-image: url("/public/images/elements/logo/logo_facebook_25x25.png"); }

.navmenu-socialmedia-link-twitter {
  background-image: url("/public/images/elements/logo/logo_twitter_25x25.png"); }

.navmenu-socialmedia-link-linkedin {
  background-image: url("/public/images/elements/logo/logo_linkedin_25x25.png"); }

.navmenu-socialmedia-link-youtube {
  background-image: url("/public/images/elements/logo/logo_youtube_25x25.png"); }

.navmenu-socialmedia-link-xing {
  background-image: url("/public/images/elements/logo/logo_xing_25x25.png"); }

/* reset some widths when using a wide page */
.wide-page #bd,
.wide-page .hd-inner {
  width: 965px; }

.modal-image-wrapper {
  float: left;
  height: 100px;
  margin-right: 20px; }

.modal-close-image {
  float: right;
  left: 20px;
  position: relative;
  top: -25px; }

/* This fixes an issue where the google conversion iframe covers footer links in small viewport mode */
iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

/* Admin Box */
.admintools {
  border: 1px solid #666666;
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden; }
.admintools-title {
  font-size: 18px;
  margin: 10px; }
.admintools .expandingpanel {
  margin-bottom: 0; }

@media screen and (max-width: 327px) {
	.responsive-page .hd-navigation-menus-outer {
		display: none;
	}
}



@media only screen and (max-width: 767px) {
  .responsive-page .responsive-textlink {
    padding: 1em;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}